/metashare/bcp47/convert.xslt
/metashare/bcp47/.idea
/misc/tools/generateMeta/31/models.py
/misc/tools/generateMeta/31
/metashare/local_settings.py
*~
*.pyc
*.db
.DS_Store
local_settings.py
reports
test-tmp
.project
.pydevproject
.settings
.deps
*.o
*.cache
*.log
*.status
stamp-h1
xdiff
xdiff-config.h
*.out
*.diff
media/images/emails/*.jpg
django.pid
lighttpd.pid
lighttpd/
opt/
._*
