Django==1.3.3
Unidecode==0.04.10
astroid==1.2.1
coverage==3.7.1
django-analytical==0.12.1
git+git://github.com/toastdriven/django-haystack.git@ea5dbd570f847ceb39ff741d9a27c77df09c9e3d                 
django-jenkins==0.12.0
django-kronos==0.3
django-selectable==0.4.1
django-selenium==0.8
flup==1.0.2
httplib2==0.7.1
logilab-common==0.62.1
psycopg2==2.5.4
pycountry==0.14.2
pygeoip==0.2.2
pylint==1.3.1
pysolr==3.2.0
python-dateutil==1.5
requests==2.4.1
selenium==2.23.0
six==1.8.0
wsgiref==0.1.2
django-analytical==0.22.0
