Django==1.7.11
South==1.0.2
Unidecode==0.04.18
argparse==1.2.1
django-analytical==2.0.0
django-haystack==2.4.1
django-selenium==0.9.8
future==0.15.2
git+git://github.com/jsteffen/django-jenkins.git@e84f76ee7c940f35f761ced65ed7c97aa00b4acb
git+git://github.com/zeehio/django-kronos.git@f22f638120920b722edd7619d6a037289edc678e
git+git://github.com/metashare/django-selectable.git@a440fa280bb4b17851a78f6268821553d3e579a5
httplib2==0.9.1
lxml==3.4.2
psycopg2==2.5.4
pycountry==1.12
pygeoip==0.3.2
pyparsing==1.5.7
pysolr==2.1.0-beta
python-dateutil==2.4.2
requests==2.7.0
selenium==2.52.0
six==1.9.0
wsgiref==0.1.2

