git+git://github.com/zeehio/django.git@fac11b4d80a310d0895d880bca6e6b8512c26982
Unidecode==0.04.10
django-analytical==0.12.1
git+git://github.com/toastdriven/django-haystack.git@ea5dbd570f847ceb39ff741d9a27c77df09c9e3d                 
django-jenkins==0.11.1
django-kronos==0.3
git+git://github.com/zeehio/django-selectable.git@0641d278f19e367ce7e5170708b005e6a6a3022b
git+git://github.com/zeehio/django-selenium.git@1535b915a3abc3f680ac2c4ffd594426b85ff8fe
flup==1.0.2
httplib2==0.7.1
psycopg2==2.5.4
pycountry==0.14.2
pygeoip==0.2.2
pysolr==2.1.0-beta
python-dateutil==1.5
requests==2.4.1
selenium==2.23.0
six==1.1.0
wsgiref==0.1.2
