ul.keyLangValuePairs,ul.keyLangValuePairs>li {
  list-style: none;
  overflow: hidden;
}

ul.keyLangValuePairs>li>textarea {
  width: 70%;
  height: 75px;
  margin-left: 5px;
  margin-right: 5px;
}

ul.keyLangValuePairs>li>input {
  width: 70%;
}

ul.keyLangValuePairs>li>div {
  display: block;
  float: right;
  max-width: 20%;
}

a.kvLangPairDeleteButton {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

a.kvLangPairDeleteButton:before {
  content: url("../img/admin/icon_deletelink.gif")
}

a.kvLangPairDeleteButtonHidden {
  visibility: hidden;
}

.lang_name {
	color: #7CA0C7;
}
