/* This file can be used to override any CSS rules from base.css, */
/* as well as define new formatting rules. */

/* ******************* */
/* Overriding base.css */
/* ******************* */

/* banner */


#header {	
	width: 100%;
	height: 65px;
	top:0;
	z-index: 1001;
	position:fixed;
	background: #FF6633;
	background: -moz-linear-gradient(top, #FFCC00, #FF6633);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCC00), to(#FF6633));	
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFCC00', startColorstr='#FF6633', gradientType='0');
	-moz-box-shadow: 0px  5px 10px #CCCCCC;
	-webkit-box-shadow: 0px  5px 10px #CCCCCC;
	box-shadow: 0px 5px 10px #CCCCCC;
	line-height: 1.5;
	overflow: visible;
}

#container > div:nth-child(2){
	margin-top: 75px;
}

div#inner{
	width: 100%;
	margin: auto;
	text-align: center;
	float: left;
}

div.popup{
	font-weight: bold;
	padding: 3px;
	display: none;
	position: absolute;
	background-color: #999999;
	color: white;
	
	height: 25px;
	width: 160px;
	
	font-size: 16px;
	text-shadow: 0px -1px 1px #333333;	
	text-align: center;
	
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 20;
    
}

div.popup img{
	position: absolute; 
	top: -13px; 
	left: 33px;
}

div.inner_box a, img.inner{
	float: left;
	padding-left: 20px;
}

a span.desc{
	display: none;
}

a:hover span.desc{ 
    	font-weight: bold;
	padding: 2px;
	display: inline-block;
	position: absolute;
	left: 1%;
	background-color: #999999;
	color: white;	
	font-size: 11px;	
	text-align: center;	
    	-webkit-border-radius: 5px;
    	-khtml-border-radius: 5px;
    	-moz-border-radius: 5px;
    	border-radius: 5px;
    	z-index: 20;    
}

.icon{
	padding-top: 4px;
}

div#header a:link, a:visited,a:hover,a:active{
	text-decoration: none;
}

.topright{	
	display: block;
	background-image: url(../../metashare/images/button_top_bg2.png);
	background-repeat: repeat-x;
	border: none;
	width: 70px;
	height: 20px;
	margin-top: 12px;
	padding-top: 2px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	white-space: nowrap;
	font-family: 'TitilliumText', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 600;
  	text-shadow: 0px -1px 1px #FF9900;
	color: white;
	font-size: 12px;
}

a:hover .topright{	
	background-image: url(../../metashare/images/button_top_bg.png);
	text-decoration: none; 
}

/* banner end */


.module h2, .module caption, .inline-group h2 {
	/*background: -moz-linear-gradient(center top , #FFCC00, #FF6633) repeat scroll 0 0 transparent;*/
}

.module h2 {
	background: #FF6633;
	background: -moz-linear-gradient(top, #FFCC00, #FF6633);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCC00), to(#FF6633));	
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFCC00', startColorstr='#FF6633', gradientType='0');
		
}

.inline-group h2, .form-row h2 {
	background: url("../img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7;	
}

div.form-row.distributionInfo > div.field-box, div.form-row.usageInfo > div.field-box, div.form-row.audioSizeInfo > div.field-box {

	border-style:solid;
	border-color:#CCC;
	border-width:1px;
	padding-left:4px;
	padding-top:2px;
}

.module .inline-group {
	margin: 10px;	
}



/* ******************* */
/* Editor-specific CSS */
/* ******************* */



/* menu styles */
#jsddm{	
	margin: 0;
	padding: 0;
}

#jsddm li{
	float: left;
	list-style: none;
	font: 12px Tahoma, Arial;
}

#jsddm li a{	
	display: block;
	background-image: url(../../metashare/images/button_top_bg.png);
	background-repeat: repeat-x;
	border: none;
	padding: 5px 12px;
	margin-left:5px;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	white-space: nowrap;
	font-weight: 600;
  	text-shadow: 0px -1px 1px #FF9900;
	color: white !important;
	font-size: 12px; 
}

#jsddm li a:link, #jsddm li a:visited, #jsddm li a:hover{ 
	color: #224; 
}

#jsddm li a:hover
{	
	background-image: url(../../metashare/images/button_top_bg2.png);
	text-decoration: none; 
}

#jsddm li ul{
	margin-top: 0;
	padding: 0;
	z-index: 1000;
	position: absolute;
	visibility: hidden; 
}

#jsddm li ul li	{
	float: none;
	display: inline;
}
	
#jsddm li ul li a{
	width: auto;
	background-image: url(../../metashare/images/button_top_gray_bg.png); 
	text-shadow: none !important;
}
	
#jsddm li ul li a:hover{
	background-image: url(../../metashare/images/button_top_bg.png); 
	text-shadow: none !important;
}


.display_none {
	display: none;	
}

/* *********************** */
/* JQueryTabs-specific CSS */
/* *********************** */


.accordion ul{
	display: inline;
	margin: 0 0 0 0;
}
.accordion li {
	display: inline;
}

.accordion li a {	
	display: block;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	background-color: #eee;
	border: none;
	outline: none;
	margin-top: 0px;
	margin-bottom: 8px;
	margin-left: 20px;
	width: 210px;
	border-radius: 0 10px 10px 0;
}
.accordion li a:hover {
	background-color: #ccc;
	padding: 4px 4px 4px 4px;
}
.accordion li.active a {

	background-color: #ddd;
	padding: 4px 4px 4px 4px;
	border-right: none;
}
.accordion li.active a:hover {
	background-color: #bbb;
	padding: 4px 4px 4px 4px;
	border-right: none;
}

#tabs_container {
	float:left;
	margin-right: 15px;
}

#tabs_content_container {
	float:center;
	padding: 10px 10px 10px 10px;
	margin: 0 10px 0 10px;
}

.submit-row {
	clear:both;
}

.tab_content {
	display: none;
}

a.error{
	color: red;
} 


/* *********************** */
/* Accordion-specific CSS */
/* *********************** */
.accordion h1 {
	background-color: #eee;
	padding: 4px 4px 4px 4px;
	width: 300px;
	font-size: 14px;
	margin: .9em 0 .3em 0;
	color: #777;
	font-weight: bold;
	border-radius: 0 10px 10px 0;
}

.accordion {
	width: 310px;
}


.customtitle {
	/*display: inline;*/
}

h1.customtitle {
	display: inline;
}

h2.help_link {
	/*display: inline;*/
}

.distance-div{
	margin-top:20px;
}

.buttons{
	margin-top:20px;
}

.resource-group, .resource-group th, .resource-group tr, .resource-group td {
	border-style:solid;
	border-color:#CCC;
	border-width:1px;
}


div.split{
	background-image: url(../../metashare/images/trenner02.png);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 10;
	height: 50px;
	margin-top: 0px;
	margin-bottom: 00px;
	padding-left: 0px;
	padding-right: 0px;
	overflow: hidden;
}

#container > div:last-child{
	margin-bottom: 10px;
}


div#footer{
	height: 10px; 
	width: 827px;
	text-shadow: 0px 1px white;
	font-weight: 600;
	color: #BBBBBB;
	font-size: 12px;	
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 120px;
	bottom:0; /* stick to bottom */
	clear: both;
}

img.throbber {
	background-image: url(../img/admin/throbber_16.gif);
	/*background-repeat: no-repeat;*/
}
div#footer a{
	text-decoration: none;
	color: 	#FF9900;
}
div#footer a:hover{
	text-decoration: underline;
}

ul.related_resources {
	max-height: 8ex;
	margin: 0 0 0 0.75em;
}

input.ui-state-not-found {
	background:#FF8888;
}
