ul.keyValuePairs,ul.keyValuePairs>li {
  list-style: none;
}

ul.keyValuePairs>li>textarea {
  width: 45%;
  height: 75px;
  margin-left: 5px;
  margin-right: 5px;
}

ul.keyValuePairs>li>input {
  width: 45%;
}

a.kvPairDeleteButton {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

a.kvPairDeleteButton:before {
  content: url("../img/admin/icon_deletelink.gif")
}

a.kvPairDeleteButtonHidden {
  visibility: hidden;
}