/* This file can be used to override any CSS rules from base.css, */
/* as well as define new formatting rules. */

/* ******************* */
/* Overriding base.css */
/* ******************* */

#header {
	background: #FF6633;
	background: -moz-linear-gradient(top, #FFCC00, #FF6633);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCC00), to(#FF6633));	
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFCC00', startColorstr='#FF6633', gradientType='0');
}

#branding h1 {
	color: white;
}

.module h2, .module caption, .inline-group h2 {
	/*background: -moz-linear-gradient(center top , #FFCC00, #FF6633) repeat scroll 0 0 transparent;*/
}

.module h2 {
	background: #FF6633;
	background: -moz-linear-gradient(top, #FFCC00, #FF6633);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFCC00), to(#FF6633));	
	filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#FFCC00', startColorstr='#FF6633', gradientType='0');
		
}

.inline-group h2, .form-row h2 {
	background: url("../img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7;	
}

.module .inline-group {
	margin: 10px;	
}

a:link, a:visited {
    /*color: #FF9900;*/
}


/* ******************* */
/* Editor-specific CSS */
/* ******************* */


/* menu styles */
#jsddm
{	margin: 0;
	padding: 0}

	#jsddm li
	{	float: left;
		list-style: none;
		font: 12px Tahoma, Arial}

	#jsddm li a
	{	display: block;
		background-image: url(../../images/button_top_bg.png);
		background-repeat: repeat-x;
		border: 		none;
		padding: 5px 12px;
		margin-left:5px;
		text-decoration: none;
	    -webkit-border-radius: 		5px;
    	-khtml-border-radius: 		5px;
    	-moz-border-radius: 		5px;
    	border-radius: 				5px;
		width: 70px;
		white-space: nowrap}

	#jsddm li a:link, #jsddm li a:visited, #jsddm li a:hover 
	{ color: #224; }
	
	#jsddm li a:hover
	{	background-image: url(../../images/button_top_bg2.png);
		text-decoration: none; }
		
		#jsddm li ul
		{	margin-top: 0;
			padding: 0;
			z-index: 10;
			position: absolute;
			visibility: hidden; }
		
			#jsddm li ul li
			{	float: none;
				display: inline}
			
			#jsddm li ul li a
			{	width: auto;
				background-image: url(../../images/button_top_gray_bg.png); }
			
			#jsddm li ul li a:hover
			{	background-image: url(../../images/button_top_gray_bg2.png); }


.display_none {
	display: none;	
}

/* *********************** */
/* JQueryTabs-specific CSS */
/* *********************** */


.accordion ul{
	display: inline;
	margin: 0 0 0 0;
}
.accordion li {
	display: inline;
}

.accordion li a {
	border: 1px solid #ccc;
	display: block;
	padding: 4px 4px 4px 4px;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	background-color: #eee;
	border: none;
	outline: none;
	margin-top: 0px;
	margin-bottom: 8px;
	margin-left: 20px;
	width: 210px;
	border-radius: 0 10px 10px 0;
}
.accordion li a:hover {
	background-color: #ccc;
	padding: 4px 4px 4px 4px;
}
.accordion li.active a {

	background-color: #ddd;
	padding: 4px 4px 4px 4px;
	border-right: none;
}
.accordion li.active a:hover {
	background-color: #bbb;
	padding: 4px 4px 4px 4px;
	border-right: none;
}

#tabs_container {
	float:left;
	margin-right: 15px;
}

#tabs_content_container {
	float:center;
	padding: 10px 10px 10px 10px;
	margin: 0 10px 0 10px;
}

.submit-row {
	clear:both;
}

.tab_content {
	display: none;
}

a.error{
	color: red;
} 


/* *********************** */
/* Accordion-specific CSS */
/* *********************** */
.accordion h1 {
	background-color: #eee;
	padding: 4px 4px 4px 4px;
	width: 300px;
	font-size: 14px;
	margin: .9em 0 .3em 0;
	color: #777;
	font-weight: bold;
	border-radius: 0 10px 10px 0;
}

.accordion {
	width: 310px;
}

