html * { padding:0; margin:0; }
body * { padding:10px 10px; }
body * * { padding:0; }
body {
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-size:0.8em;
}
body>div { border-bottom:1px solid #ddd; }

td.counter { text-align:right; color:#dedede; padding-left:10px; }

input.button { -webkit-appearance:none; }

#searchbox, #uploadbox {
	text-align:center;
	padding-top:20px;
	padding-bottom:20px;
}
#searchbox table, #uploadbox table {
	text-align:left;
	margin-left: auto;
	margin-right: auto;
}
#downloadbox { text-align:center; padding-top:20px; padding-bottom:20px; }
label { padding:5px; }
input.searchbox, input.uploadbox { padding:5px; width:500px; }
input.advancedbox { padding:5px; width:300px; }

div.pagination { text-align:center; }
span.button {
	width:25px;
	font-weight:bold;
	height:25px;
	background:#fcfcfc;
	border:1px solid #ddd;
	padding:3px;
	color:#ababab;
}
a.button {
	width:25px;
	font-weight:bold;
	height:25px;
	background:#fcfcfc;
	border:1px solid #ffaa00;
	padding:3px;
}
a.button:hover {
	background-color:#eeeeee;
	border:1px solid #ff7d00;
	text-decoration:none;
}

img.order_by_asc {
	width:15px;
	vertical-align:top;
	border:0px;
	padding:0px;
	margin:0px;
}
img.order_by_desc {
	width:15px;
	vertical-align:top;
	border:0px;
	padding:0px;
	margin:0px;
	margin-top:-1px;
}

#results h2 { text-align:center; }

.orange_dark { color:#ff7d00; }
.orange_medium { color:#ffaa00; }
.orange_light { color:#ffcb00; }
.grey_dark { color:#696969; }
.grey_light { color:#ababab; }

h1, h2, h3, h4, h5, h6 { font-weight:normal; }

p {
	padding-left:5px;
	padding-bottom:10px;
}

a {
	color:#ffaa00;
	text-decoration:none;
}
a:hover {
	color:#ff7d00;
	text-decoration:underline;
}
a:clicked { color:#ffaa00; }

#errors { background:#ffcb00; border:1px solid #ffaa00; padding:2px; }
#header { background:#ffffff; padding-left:270px; padding-bottom:20px; }
#header img {
	position:absolute;
	top:10px;
	left:10px;
	height:40px;
	border:0px;
}
#content { background:#f6f6f6; }
#options { padding-top:20px; }
#footer { background:#eeeeee; padding:2px; font-size:0.8em; }
#footer table { color:#ababab; border:0px; margin:0px; padding:0px; }
#footer td { vertical-align:middle; }
#footer img {
	float:left;
	width:30px;
	height:30px;
	padding:2px;
	margin: 0px;
	border:0px;
	background-color:#ffffff;
	border:1px solid #cdcdcd;
}
#messages p { text-align:left; color:#ff7d00; font-size: 10pt; padding: 10px; margin-bottom: 5px; }
#messages .success {
    background-color: #abc3dc;
    border: 1px solid #3d6692;
    color: #3d6692;
}
#messages .error {
    background-color: #cc6666;
    border: 1px solid #880000;
    color: #880000;
}

table { border-spacing:0px; padding:5px; }
th { text-align:left; }
td { padding:5px; }

tr.even { background:#fcfcfc; }
tr.odd { background:#f6f6f6; }

input, button { background:#fcfcfc; border:1px solid #ddd; padding:3px; }
button:hover, .button:hover { background-color:#dfdfdf; }
/* input { min-width:60px; } */

ul { margin-left:2em; margin-top:1em; }
ul.errorlist {
	background:#ffcb00;
	border:1px solid #ffaa00;
	padding:2px;
	list-style-type:none;
	margin:0em;
}
ul.errorlist li { padding:0px; }

ol { margin-left:2em; margin-top:1em; }
ol li { padding:0px; } 
