<ul class="keyValuePairs{% if not blank %} pairsRequired{% endif %}">
  {% for entry in entries %}
  <li><span><a href="javascript:void(0)" class="kvPairDeleteButton">Delete Field</a></span><span>{{ entry.0 }}</span><span>{{ entry.1 }}</span></li>
  {% endfor %}
  <li><a href="javascript:void(0)" class="kvPairAddButton">Add Another Field</a></li>
</ul>
<div style="display: none;"><span><a href="javascript:void(0)" class="kvPairDeleteButton">Delete Field</a></span><span>{{ new_entry_tpl.0 }}</span><span>{{ new_entry_tpl.1 }}</span></div>