<ul class="keyValuePairs{% if not blank %} pairsRequired{% endif %}">
  {% for entry in entries %}
  <li><a href="javascript:void(0)" class="kvPairDeleteButton">Delete Field</a>{{ entry.1 }}<div>Language of this entry (<a href="http://tools.ietf.org/html/rfc3066#section-2" target="_blank">RFC 3066 code</a>): {{ entry.0 }}</div></li>
  {% endfor %}
  <li><a href="javascript:void(0)" class="kvPairAddButton addlink">Add Another Field</a></li>
</ul>
<div style="display: none;"><a href="javascript:void(0)" class="kvPairDeleteButton">Delete Field</a>{{ new_entry_tpl.1 }}<div>Language of this entry (<a href="http://tools.ietf.org/html/rfc3066#section-2" target="_blank">RFC 3066 code</a>): {{ new_entry_tpl.0 }}</div></div>