{% load i18n adminmedia %}
<div id="{{ inline_admin_formset.formset.prefix }}-group">

{{ inline_admin_formset.formset.management_form }}
{{ inline_admin_formset.formset.non_form_errors }}

<input type="hidden" name="resourceComponentId" value="{{resourceComponentType.pk}}" />

{% for inline_admin_form in inline_admin_formset %}
<div class="inline-related{% if forloop.last %} empty-form last-related{% endif %}" id="{{ inline_admin_formset.formset.prefix }}-{% if not forloop.last %}{{ forloop.counter0 }}{% else %}empty{% endif %}">

  {% if forloop.first %}
  
  <div id="contentInfoStuff">
    {% with resinfo=resourceComponentType.as_subclass restype=resourceComponentType.as_subclass.get_class_name prefix='' %}
      {% if restype == 'corpusInfoType_model' %}
        {% include "repository/editor/corpus_info.html" with parent=resinfo.corpusMediaType %}
      {% endif %}
      {% if restype == 'languageDescriptionInfoType_model' %}
        {% include "repository/editor/langdesc_info.html" with parent=resinfo %}
      {% endif %}
      {% if restype == 'lexicalConceptualResourceInfoType_model' %}
        {% include "repository/editor/lexicon_info.html" with parent=resinfo %}
      {% endif %}
      {% if restype == 'toolServiceInfoType_model' %}
        {% include "repository/editor/toolservice_info.html" with parent=resinfo %}
      {% endif %}
  </div>

    {% endwith %}
  {% endif %}

  {% if inline_admin_form.has_auto_field %}{{ inline_admin_form.pk_field.field }}{% endif %}
  {{ inline_admin_form.fk_field.field }}

</div>
{% endfor %}

