  {% with baseurl='editor/repository/toolserviceinfotype_model/' node_pk=toolServiceInfoId name='toolServiceInfo' prettyname='Tool / Service Info' node_tool_service=resourceComponentType.ToolServiceType%}
    <input type="hidden" id="id_{{name}}" name="{{prefix}}{{name}}" value="{{node_pk}}"/>
    <input type="hidden" id="has_value" value="{{node_tool_service}}" class="edit_id_{{name}}"/>
    <h1><a id="edit_id_{{name}}" 
      proto-href="/{{DJANGO_BASE}}{{baseurl}}"
      href="/{{DJANGO_BASE}}{{baseurl}}{{node_pk}}/" 
      onclick="return showAddAnotherPopup(this);" 
      style="font-weight:bold;">Edit {{prettyname}}</a></h1>
  {% endwith %}
