{% extends "base.html" %}
{% load humanize %}
{% block content %}

<div class="span-24">
  <div style="text-align:center;margin-top: 20px;margin-bottom: 20px;">
    <p><img src="{% url metashare.views.frontpage %}site_media/meta-share-logo.png" style="border: 1px solid #cccccc;height: 140px;padding:10px;background-color:white;" /></p>
    <p>{{resources|intcomma}} language resources at your disposal...</p>
  </div>
    <form method="get" action="{% url metashare.views.frontpage %}repository/search/" class="form_helper">
      <div class="push-3 span-18 append-3 last" style="height:80px; margin-bottom:10px;"><input class="big_input span-18" type="text" name="q" defaultText="Type in your keywords, please..." /></div>
      <div class="span-4"><button type="submit" class="big_button button">Search</button></div>
    </form>
    <div class="span-4" style="margin-left:150px;"><a href="{% url metashare.views.frontpage %}repository/search/"><button id="browse" class="button big_button">Browse</button></a></div>
    <div class="push-4"><a href="{% url metashare.views.frontpage %}stats/top/"><button id="top" class="button big_button">Statistics</button></a></div>
</div>


<div class="span-24" style="vertical-align: middle; margin-top:30px;">
	<table>
	<tr>
		<td>
			<span class="span-7 append-1" style="vertical-align: middle;">
				<img src="{% url metashare.views.frontpage %}site_media/images/teaser02.png" />
			</span>
		</td>
		
		<td>
			<span class="span-15 last" style="">
				<h2>What is it? - About the project</h2>
				<p>META-NET aims at creating META-SHARE, a sustainable network of repositories of language data, tools and related web services
				documented with high-quality metadata, aggregated in central inventories allowing for uniform search and access to resources. Data and 							tools can be both open and with restricted access rights, free and for-a-fee. META-SHARE targets existing but also new and emerging 							language data, tools and systems required for building and evaluating new technologies, products and services. In this respect, reuse, 							combination, repurposing and re-engineering of language data and tools play a crucial role.
				</p>
				<p>
				META-SHARE will eventually be an important component of a language technology marketplace for HLT researchers and developers, language 							professionals (translators, interpreters, content and software localisation experts, etc.), as well as for industrial players, especially 						SMEs, catering for the full development cycle for HLT, from research through to innovative products and services. Where the work or any 						of its elements is in public domain under applicable law, that status is in no way affected by the license.
				</p>
			</span>
		</td>
	</tr>
	</table>
</div>

<div class="split span-24">
	<div class="navigation_box push-18 last">
		<a href="#content" class="scroll">
			<img src="{% url metashare.views.frontpage %}site_media/images/gototop.png" />
		</a>
	</div>
</div>

<div class="span-24" style="vertical-align: middle; margin-top:35px;">
	<table>
	<tr>
		<td>
			<span class="span-15 append-1" style="">
	<h2>How can I use it? - First steps</h2>
	<p>
	More specifically, META-SHARE will be a freely available facility supported by a large user and developer community, based on a distributed networked repositories accessible through common interfaces. Users (consumers, providers or aggregators)will have single sign-on accounts and will be able to access everything within the repository. Each language resource will be given a permanent locator (PID). One of the key features of META-SHARE will be metadata harvesting, allowing for discovering and sharing resources across many repositories.
	</p>
	<p>
	META-SHARE will also cater for advanced metadata schemata regarding description, harvesting and discovery of resources. It will be accompanied by a search function, so that users can search and navigate through its resources in the most flexible way possible. META-SHARE will allow the easy integration of new functionalities and services. In order to ensure modularity and robustness, it will follow a service-oriented architecture. Moreover, it will handle equally effective diverse file types. Finally, META-SHARE will provide the ability to compile and produce statistical reports, according to the different user types. The repository administrator will be able to supervise all of the above
	</p>
			</span>

		</td>
		
		<td>
			<span class="span-7 last" style="vertical-align: middle;">
				<img src="{% url metashare.views.frontpage %}site_media/images/teaser03.png" />
			</span>
		</td>
	</tr>
	</table>
</div>		




<div class="split span-24">
	<div class="navigation_box push-18 last">
		<a href="#content" class="scroll">
			<img src="{% url metashare.views.frontpage %}site_media/images/gototop.png" />
		</a>
	</div>
</div>

<div class="span-24" style="vertical-align: middle; margin-top:35px;">
	<table>
	<tr>
		<td>
			<span class="span-7 append-1" style="vertical-align: middle;">
				<img src="{% url metashare.views.frontpage %}site_media/images/teaser04.png" />
			</span>
		</td>
		
		<td>
			<span class="span-15 last" style="">
		<h2>Connect and Share! - Our vision</h2>
		<p>
		META-SHARE will start by integration nodes and centres represented by the partners of the META-NET consortium. It will gradually be extended to encompass 					additional nodes/centres and provide more functionality with the goal of turning into an as largely distributed infrastructure as possible.
		</p>
			</span>
		</td>
	</tr>
	</table>
</div>
{% endblock %}
