{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ MEDIA_URL }}/css/view_stats.css" type="text/css" media="screen" />

<div class='tab-container'>
 <ul class='etabs'>
    <li class='tab'><a href="{% url metashare.views.frontpage %}stats/top/">Statistics about visiting this META-SHARE node</a></li>
    <li class='tab'><a href="{% url metashare.views.frontpage %}stats/usage/">Statistics about resource metadata</a></li>
    <li class='tab tab-nobr'>My resources</li>
 </ul>
</div>


<div class="content_tab"> 
<table width=100% class="result_table">
<tr class="result_table_head">
    <td width="60%">Resource name</td>
    <td width="10%">Actions</td>
    <td width="20%">Users</td>
    <td width="10%" nowrap>Last access</td>
</tr>
{% for lr in data %} 
    <tr class="{% cycle odd,even %}">
        <td><a href="{{ lr.1 }}">{{ lr.2 }}</a></td>
        <td align=right nowrap>
            {% for stat in lr.3 %}
                <img src="{{ MEDIA_URL }}stats/img/{{ stat.action }}_icon.gif"
                    alt="Last {{ stat.action }}: {{ stat.last }}" title="Last {{ stat.action }}: {{ stat.last }}" />
                    <b>{{  stat.count }}</b>&nbsp;
            {% endfor %}
        </td>
        <td align=right nowrap>
            {% for stat in lr.4 %}
                {{stat.user }}<br>
            {% endfor %}            
        </td>
        <td align=right nowrap>
            {% for stat in lr.4 %}
                {{stat.lastaccess }}<br>
            {% endfor %}            
        </td>
    <tr>
{%endfor%}
</table>
</div>

{% endblock %}

