{% extends "base.html" %}

{% block content %}
<script>
function select(form) {
    obj = document.getElementById("field");
    //alert(obj);
    if (obj != null) {
        form.field.selectedIndex = 0;
    }
    form.submit();
}
</script>

<table><tr><td nowrap><a href="{% url metashare.views.frontpage %}stats/top/"><font size=+1>Top 10</font></a>&nbsp;&nbsp;</td><td bgcolor=#dddddd nowrap>&nbsp;&nbsp;<font size=+1>Repository statistics</font>&nbsp;&nbsp; </td>
<td width=80%></td></tr>
<tr><td bgcolor=#dddddd colspan=3>

<div class="content_box">
<form class="form_helper" name="repoform" id="repoform" action="{% url metashare.views.frontpage %}stats/repo/" method="POST">
<div id="fieldsDiv"> 
Get statistics about: &nbsp;

<select name=model onchange="select(this.form)">
{% for imodel in models %}
    <option value="{{ imodel }}"
    {% for selvalue in selected_menu_value %}
        {% ifequal selvalue.0 'model' %}
        {% ifequal selvalue.1 imodel %}
            selected
        {% endifequal %}
        {% endifequal %}
    {% endfor %}
> {{ imodel }} 
{% endfor %}
</select>

{% if fields|length > 0 %}
    <select id=field name=field onchange="submit()">
    <option value="">
    {% for ifield in fields %}
        <option value="{{ ifield.0 }}" 
        {% for selvalue in selected_menu_value %}
        {% ifequal selvalue.0 'field' %}
        {% ifequal selvalue.1 ifield.0 %}
            selected
        {% endifequal %}
        {% endifequal %}
        {% endfor %}
        > {{ ifield.0 }} 
    {% endfor %}
    </select>
{% endif %}
<br>
</div>
{% if subfields|length > 0 %}
    <!-- <img src="{{ MEDIA_URL }}css/sexybuttons/images/icons/silk/add.png" href="javascript:;" title="add an other searching field" onclick="addElement();"></a></p> -->
{% endif %}
</form>

{% if result|length <= 0 %}
    <hr><center><strong>No data found</strong></center>
{% else %}
<div id="results">

<table width=100% class="result_table">
<tr class="result_table_head" style="">
  <td width="80%">{{ field }}</td>
  <td width="25%">LRs</td>
</tr>

{% for stat in result %}
<tr class="{% cycle odd,even %}">
   {% ifequal stat.0 "" %} 
   {% else %}
   <td style="text-align:left;"> {{ stat.0 }}</td>
   <td style="text-align:right;">{{ stat.1 }}</td>  
   {% endifequal %}
</tr>
{% endfor %}

</table>

</div>
{% endif %}
</td></tr></table>


<script>
function createSelectWidget() {
}    
    
function addElement() {
  var numi = document.getElementById('theValue');
  var num = (document.getElementById('theValue').value -1)+ 2;
  numi.value = num;

  var ni = document.getElementById('fieldsDiv');
  var divIdName = 'my'+num+'Div';

  var newdiv = document.createElement('div');
  
  newdiv.setAttribute('id', divIdName);

  selectObj = '<img src="{{ MEDIA_URL }}css/sexybuttons/images/icons/silk/delete.png" onclick=\'removeElement("'+divIdName+'")\'> <select name='+divIdName+'>';
{% for model in models %}
    selectObj += '<option value="{{ model }}"> {{ model }}'; 
{% endfor %}
selectObj += '</select>';
  newdiv.innerHTML =selectObj; 
  ni.appendChild(newdiv);

}
function removeElement(divNum) {
  var d = document.getElementById('fieldsDiv');
  var olddiv = document.getElementById(divNum);
  d.removeChild(olddiv);
}
</script>
<input type="hidden" value="0" id="theValue" />


{% endblock %}
