{% extends "base.html" %}
  
{% block content %}

<link rel="stylesheet" href="{{ MEDIA_URL }}/css/view_stats.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ MEDIA_URL }}/css/results.css" type="text/css" media="screen" />

<script>
function hidediv( id ) { 
    document.getElementById(id).style.visibility = 'hidden';
    document.getElementById(id).style.display = 'none';
}
function getvalues(classname, fieldname) {
    obj = document.getElementById('classname');
    obj.value=classname;
    document.getElementById('fieldname').value=fieldname;
    
    document.forms["getusagestats"].submit(); 
}
</script>

<script language="javascript">
$(document).ready(function(){
  $("div.filter").each(function() {
    var allDds = $(this).children("div").not('.subresult').nextUntil("div.accordion");
    if (allDds.length > 4) {
	var hideableDds = allDds.has("a.addableFacet");
	if (hideableDds.length > 1) {
        hiddenDds = hideableDds.slice(
          Math.max(0, 4 - (allDds.length - hideableDds.length))).hide();
        var moreTxt = 'more', lessTxt = 'less';
        hiddenDds.last().after($("<div><a href='#'>" + moreTxt + "</a></div>")
            .children().first().click({hiddenDds: hiddenDds}, function(e) {
                e.preventDefault();
                $(this).text($(this).text() == moreTxt ? lessTxt : moreTxt);
                e.data.hiddenDds.slideToggle();
              }).parent());
      }
    }
  });
  $("div.filter").hide();
  $("div.accordion").each(function(){
      $(this).next("div.filter").find("a.removableFacet").parents("div.filter").show();
      addStatus($(this));
      $(this).next("div.filter").find("a.addFilter").parents("div.filter").show();
      addStatus($(this));
  });

  $("div.accordion.expanded").each(function(){
 	if( $(this).next("div.filter").find("a.removableFacet").length > 0 ){
 		$(this).addClass("selected");
 	}
 	if( $(this).next("div.filter").find("a.addFilter").length > 0 ){
 		$(this).addClass("selected");
 	}
  });

  $("div.accordion").click(function() {
      if($(this).next("div.filter").attr("style") == "display: none;" ){
          $(this).addClass('expanded');
          $(this).removeClass('collapsed');}
      else {
          $(this).addClass('collapsed');
          $(this).removeClass('expanded');
      }
      $(this).next("div.filter").slideToggle();
  });
});

function addStatus(filter){
  if(filter.next("div.filter").attr("style") == "display: none;" ){
    filter.addClass('collapsed');
    filter.removeClass('expanded');
  }
  else{
    filter.addClass('expanded');
    filter.removeClass('collapsed');
  }
}
</script>


<div class='tab-container'>
 <ul class='etabs'>
   <li class='tab'><a href="{% url metashare.views.frontpage %}stats/top/">Statistics about visiting this META-SHARE node</a></li>
   <li class='tab tab-nobr'>Statistics about resource metadata</li>
   {% if user.username and myres %}
        <li class='tab'><a href="{% url metashare.views.frontpage %}stats/mystats/">My resources</a></li>
   {% endif %}
 </ul>
</div>

<div class="content_tab"> 

{% if usage_fields != None %}
    <table width=100% bgcolor="white" valign=top>
    <tr><td colspan=2>
        <form id="getusagestats" action="." method="POST"><font size=-1>Found <font size=+1>{{ fields_count }}</font> metadata</font><br>           
            Filter by: &nbsp;
            {% for filter,counter in usage_filter.items %}
               &nbsp;<input type="checkbox" name=filter value="{{ filter }}" onClick="submit()"
               {% if filter in selected_filters or selected_filters|length == 0%}
                    checked
               {% endif %}     
               >
               <div class="coverage {{ filter }}">&nbsp; {{ filter }} &nbsp;</div>({{ counter }}) &nbsp;
            {% endfor %}
            <input type="hidden" name="class" id="classname" value="{{ selected_class }}">
            <input type="hidden" name="field" id="fieldname" value="{{ selected_field }}">
        </form>
        <hr>
    </td></tr>
    {% if errors != None %}
        <tr><td colspan=2>
            <div id=warning class=warning>
            &nbsp; <img src="{{ MEDIA_URL }}css/sexybuttons/images/icons/silk/error.png"> &nbsp; {{ errors }} &nbsp;
            </div>
        </td></tr>
    {% endif %}
    
            
        <td class=aligntop nowrap>  
        {% for class, fields in usage_fields.items %}
            <a name="{{ class }}"></a>
            <div class="accordion"><a href="#" onclick="return false">{{ class }}</a></div> 
            <div class="filter">
            {% for field in fields %}
                <div>
                {% if field.6 == "component" %}
                    <img src="{{ MEDIA_URL }}css/sexybuttons/images/icons/silk/bullet_arrow_right.png">&nbsp;
                    <a href="#{{ field.2 }}" style=""><p style="font-size:8pt;text-align:left;display:inline">{{ field.2 }}</p></a>
                {% else %}
                    <a name="{{ field.7 }}/{{ field.1 }}" href="javascript:getvalues('{{ field.7 }}','{{ field.1 }}')"
                    {% if selected_class == field.7 and selected_field == field.1 %}
                        class="addFilter"   
                    {% else %}
                        class="deleteFilter"
                    {% endif %}
                    >{{ field.2 }}</a>&nbsp;
                {% endif %}
                
                
                {% if field.3 == 1 %}
                      <div class="coverage required">
                {% else %}
                    {% if field.3 == 2 %}
                         <div class="coverage optional">
                    {% else %}
                        {% if field.3 == 3 %}
                            <div class="coverage recommended">
                        {% else %}
                            <div class="coverage never">
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if field.5 == 0 %}
                    &nbsp;<i>never used</i>&nbsp;
                {% else %}
                    &nbsp; {{ field.5 }}/{{ field.4 }} &nbsp;
                {% endif %}
                </div>
                
                 </div>                
             {% endfor %}
             </div>
        {% endfor %}
        </td>
        <td class=aligntop>
        {% if result != None and result|length > 0 %}
            <div id=fieldvalues class=fieldvalues>
            <table border=1 width=100% valign=top>
                <tr bgcolor=lightgray>
                    <th>[<a href="javascript:hidediv('fieldvalues');" title="Close"><img src="{{ MEDIA_URL }}css/sexybuttons/images/icons/silk/cross.png"></a>]  &nbsp; used values for <a href="#{{ selected_class }}/{{ selected_field }}">{{ selected_class }}/{{ selected_field }} values</th>
                    <th style="align: left" nowrap>value<br>counter</th>
                    <th style="align: left">resources<br>counter</th>                    
                </tr>
                 
            {% for field in result %}
                <tr>
                <td>{{ field.0 }}</td>
                <td style="align: right">{{ field.2 }}</td>
                <td style="align: right">{{ field.1 }}</td>
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endif %} 
        </td>
        
    </tr>
    <table>
{% endif %} 
{% endblock %}
