{% extends "base.html" %}
{% block title %}Change Your Password &ndash; META-SHARE{% endblock %}
{% block messages %}
{% if form.errors %}
<p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
{% endif %}
{% endblock %}

{% block content %}

<h2>Change your password </h2>
<div class="content_box">
<form class="form_helper" action="{% url django.contrib.auth.views.password_change %}" method="post">

<table>
{% csrf_token %}
{{ form.as_table }}
</table>
<input class="button middle_button" style="margin-left:auto;margin-right:auto;width: 180px;" type="submit" value="Change Password" />
</form>
{% endblock %}


