{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}{{ title }} &ndash; META-SHARE{% endblock %}

{% block messages %}
{% if form.errors %}
<p class="error">Please fill in all fields to create your account.</p>
{% endif %}
{% endblock %}

{% block content %}
{% spaceless %}
<h2>Create Account</h2>
<div class="content_box">
  <form class="form_helper" method="post" action="{% url metashare.accounts.views.create %}">
    {% csrf_token %}
    {% for field in form %}
      {{ field.errors }}
      {% if field.html_name == "accepted_tos" %}
        {{ field }} <label for="{{ field.auto_id }}">I accept the <a target="_blank" href="{% static "terms_of_service_reg.pdf" %}">META-SHARE Terms of Service for registered users</a>.</label>
      {% else %}
        {{ field.label_tag }} {{ field }}
      {% endif %}
      <div>{# for spacing and for clearing the last float environments #}</div>
    {% endfor %}
    <input class="button middle_button" style="margin-left:auto;margin-right:auto;" type="submit" value="Create Account" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endspaceless %}
{% endblock %}
