{% extends "base.html" %}

{% block content %}

<div>
</div>

<form class="form_helper" action="{% url metashare.accounts.views.edit_profile %}" method="post">


<table>
  <tr>
    <th> <label>First name</label></th><td class="readonly"> {{ user.first_name }} </td>
  </tr>
  <tr>
    <th> <label>Last name</label></th><td class="readonly"> {{ user.last_name }} </td>
  </tr>
  <tr>
    <th> <label>Email</label></th><td class="readonly"> {{ user.email }} </td>
  </tr>
  <tr><td colspan="2" style="text-align:center; height:40px;">If you need to change any of the above settings, please contact the <a href="mailto:helpdesk@meta-share.eu">META-SHARE Helpdesk</a>.
  </td></tr>
  <tr>
    <td colspan="2" style="text-align:center; height:40px;"><a href="{% url django.contrib.auth.views.password_change %}"> Change your password.</a> </td>
  </tr>
  {{ form.as_table }}
  {% if groups_applied_for %}
  <tr><td colspan="2" style="text-align:center; height:40px;">You already applied for a membership of the following group{{ groups_applied_for|pluralize }}: {{ groups_applied_for|join:", " }}</td></tr>
  {% endif %}
  <tr>
    <td colspan="2" style="text-align:center; height:40px;"><a href="{% url metashare.accounts.views.editor_registration_request %}"> Apply for new membership of editor groups.</a> </td>
  </tr>
  

<tr><th></th><td><input class="button middle_button" type="submit" value="Edit Profile" /></td></tr>
</table>
</form>
{% endblock %}


