{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
{% include "breadcrumbs.html" %}
{% endblock %}

{% block content %}
<h3>Remove a user from the following editor group manager group{{ selected_editorgroupmanagers|pluralize }}:</h3>

<div class="content_box">
<table class='manager-group'>
  <tr><th>Editor Group Manager Group{{ selected_editorgroupmanagers|pluralize }}</th><th>Members</th></tr>
  {% for editor_group_managers in selected_editorgroupmanagers %}
  <tr><td>{{ editor_group_managers }}</td><td>{{ editor_group_managers.get_members|join:", "}}</td></tr>
  {% endfor %}
<table>
</div>

<div class="content_box">
<form method="post" action="{{ path }}">{% csrf_token %}
<table>
{{ form }}
</table>

<input type="hidden" name="action" value="remove_user_from_editor_group_managers"/>
<input type="submit" name="remove_user_profile_from_editor_group_managers" value="Remove"/>
<input type="submit" name="cancel" value="Cancel"/>
</form>
</div>
{% endblock content %}