{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}{{ title }} &ndash; META-SHARE{% endblock %}

{% block messages %}
{% if form.errors %}
<p class="error">Please give at least one editor group.</p>
{% endif %}
{% endblock %}

{% block links %}
{{ form.media }}
<link rel="stylesheet" type="text/css" href="{% static "css/widgets.css" %}"/>
{% endblock %}

{% block content %}
<h2>{{ title }}</h2>
<div class="content_box">
<form class="form_helper" method="post" action="{% url metashare.accounts.views.update_default_editor_groups %}">
{% csrf_token %}
<table>
  {{ form.as_table }}
</table>
<input class="button middle_button" style="margin-left:auto;margin-right:auto;" type="submit" value="Update" />
</form>
</div>
{% endblock %}
