{% extends "base.html" %}
{% block title %}
{{ resource }} &ndash; Contact Resource Maintainer &ndash; META-SHARE
{% endblock %}
{% block content %}
<h2>Contact Resource Maintainer</h2>
<div class="content_box">
  <form class="form_helper" action="{% url 'download_contact' resource.storage_object.identifier %}" method="post">
    <table>
	  <tr>
        <th><label>Resource name</label></th><td class="readonly">{{ resource }}</td>
	  </tr>
      <tr>
        <th><label>Resource contact name{{ resourceContactName|pluralize }}</label></th><td class="readonly">{{ resourceContactName|join:", " }}</td>
	  </tr>
      <tr>
        <th><label>Resource contact email{{ resourceContactEmail|pluralize }}</label></th><td class="readonly">{{ resourceContactEmail|join:", " }}</td>
	  </tr>
      <tr>
        <th><label>Your username</label></th><td class="readonly">{{ user.username }}</td>
      </tr>
      <tr>
        <th><label>Your name</label></th><td class="readonly">{{ user.first_name }} {{ user.last_name }}</td>
      </tr>
      {{ form.as_table }}
	  <tr><th></th><td><input class="button middle_button" type="submit" value="Send" /></td></tr>
	  <tr><th><a href="javascript:history.back();"><input type="button" class="span-6 button middle_button" value="&laquo;&nbsp;Resource Download" /></a></th><td></td></tr>
    </table>
  </form>
</div>
{% endblock %}
