{% extends "base.html" %}

{% block title %}
  {{ lr_content.1.0.1.0.0.1 }}
{% endblock %}

{% block content %}
		<script type="text/javascript" src="http://plugins.learningjquery.com/expander/jquery.expander.js"></script>
		<script type="text/javascript">
			$(function () {
				$('td.readmore').expander({
					slicePoint: 300,
					expandText: 'Read More',
					userCollapseText: 'Read Less'
				});
			});
		</script>

		<script type="text/javascript">
			function getElementsByClassName(node,classname) 
			{
				if (node.getElementsByClassName)
					{return node.getElementsByClassName(classname);}
			}
			
			function getElementsByClass(searchClass,node,tag) 
			{
				var classElements = new Array();
				if ( node == null ){node = document;}
				if ( tag == null ){tag = '*';}
				var els = node.getElementsByTagName(tag);
				var elsLen = els.length;
				var pattern = new indexOf(searchClass);
				for (i = 0, j = 0; i < elsLen; i++) 
				{
				if ( pattern.test(els[i].className) ) 
					{
					classElements[j] = els[i];
					j++;
					}
				}
				return classElements;
			}	
			
			function toggle(el) 
			{
				if (el.style.display == '') 
					{
					el.style.display = 'none';
					}
					else 
					{
					el.style.display = '';
					}
			}	

			function displayMandatory() 
			{
				var els = getElementsByClassName(document, 'mandatory');
				var i;
				for (i = 0; i < els.length; i += 1) 
				{
					toggle(els[i]);
				}
			}

			function displayOptional() 
			{
				var els = getElementsByClassName(document, 'optional');
				var i;
				for (i = 0; i < els.length; i += 1) 
				{
					toggle(els[i]);
				}
			}
			
		</script>


		<style type="text/css">
			div#content dummy, span.details {
				font: inherit;
				color: inherit;
				vertical-align: inherit;
			 }
		</style>
 
<h2>{{ resource }}</h2>
	<div class="content_box">
        <div id="stats" align="right" style="float: right">
            {% for stat in LR_STATS %}
                {%if "updated" in stat.action %}
                    &nbsp;<div align=right style="float: right"><i>(Last modified: {{ stat.last }})</i>&nbsp;</div>
                {% else %}
                    <img src="{{ MEDIA_URL }}stats/img/{{ stat.action }}_icon.gif"
                    alt="Last {{ stat.action }}: {{ stat.last }}" title="Last {{ stat.action }}: {{ stat.last }}" />
                    <b>{{  stat.count }}</b>&nbsp;
                {% endif %}
            {% endfor %}
        <hr></div>
  <a href="javascript:history.back();"><button class="span-12 button middle_button">&laquo; Back</button></a>
  {% if LR_DOWNLOAD %}
    <a href="{% url metashare.repository.views.download resource.storage_object.identifier %}"><button class="span-4 button middle_button">Download</button></a>
  {% else %}
    <div class="popup_box">
      <div onmouseover="$(this).siblings('div.popup').show();" onmouseout="$(this).siblings('div.popup').hide();"><button class="span-4 button middle_gray_button">Download</button></div><div class="popup" style="height:50px; left:190px; width:270px; top:50px;"><img style="left:10px;" src="{{ MEDIA_URL }}images/adv_search_pfeil.png" />&nbsp;You don&rsquo;t have the permission to download this resource. Please log in.</div>
    </div>
  {% endif %}

  <div style="clear: both;"></div>
  
  <p><input type="checkbox" name="choose_view" onClick="displayOptional();"> Only show mandatory fields</p>
  <form class="form_helper" action="submit" method="get">
  <table>
    {% include "repository/detail_view.html" %}
  </table>
  </form>

  <a href="javascript:history.back();"><button class="span-12 button middle_button">&laquo; Back</button></a>
  {% if LR_DOWNLOAD %}
    <a href="{% url metashare.repository.views.download resource.storage_object.identifier %}"><button class="span-4 button middle_button">Download</button></a>
  {% else %}
    <div class="popup_box">
      <div onmouseover="$(this).siblings('div.popup').show();" onmouseout="$(this).siblings('div.popup').hide();"><button class="span-4 button middle_gray_button">Download</button></div><div class="popup" style="height:50px; left:190px; width:270px; top:50px;"><img style="left:10px;" src="{{ MEDIA_URL }}images/adv_search_pfeil.png" />&nbsp;You don&rsquo;t have the permission to download this resource. Please log in.</div>
    </div>
  {% endif %}

</div>
{% endblock %}
