{% extends "base.html" %}
{% block content %}
		<script type="text/javascript" src="http://plugins.learningjquery.com/expander/jquery.expander.js"></script>
		<script type="text/javascript">
			$(function () {
				$('td.readmore').expander({
					slicePoint: 300,
					expandText: 'Read More',
					userCollapseText: 'Collapse'
				});
			});
		</script>

		<style type="text/css">
			div#content dummy, span.details {
				font: inherit;
				color: inherit;
				vertical-align: inherit;
			 }
		</style>
 
<h2>{% if not RESOURCE_PUBLISHED %}<i>{% endif %}{{ resource.identificationInfo.resourceName.0 }}{% if not RESOURCE_PUBLISHED %}</i>{% endif %}</h2>
	<div class="content_box">
        <div id="stats" align="right" style="float: right">
            {% for stat in LR_STATS %}
                {%if "updated" in stat.action %}
                    &nbsp;<div align=right style="float: right"><i>(Last modified: {{ stat.last }})</i>&nbsp;</div>
                {% else %}
                    <img src="{% url metashare.views.frontpage %}site_media/stats/img/{{ stat.action }}_icon.gif"
                    alt="Last {{ stat.action }}: {{ stat.last }}" title="Last {{ stat.action }}: {{ stat.last }}" />
                    <b>{{  stat.count }}</b>&nbsp;
                {% endif %}
            {% endfor %}
        <hr></div>

	<a href="javascript:history.back();"><button class="span-12 button middle_button">&laquo; Back</button></a>
    
	{% if LR_DOWNLOAD and not "notallowed" in LR_DOWNLOAD %}
        {% if "restricted" in LR_DOWNLOAD %}
            <div class="popup_box">
                <div onmouseover="$('#altdownload').show();" onmouseout="$('#altdownload').hide();"><button class="span-4 button middle_gray_button">Download</button></div><div id="altdownload" class="popup" style="left:190px; width: 540px; height=100%"><img style="left:10px;" src="{% url metashare.views.frontpage %}site_media/images/adv_search_pfeil.png" />&nbsp; You don't have enough permission to download this resource. Please log in!</div>
            </div>
        {% else %}
            <a href="{{LR_DOWNLOAD}}"><button class="span-4 button middle_button">Download</button></a>
        {% endif %}
    {% endif %}
	
	<div style="clear: both;"></div>

<form class="form_helper" action="submit" method="get"> 
	<table>
        {% with "repository/detail_view.html" as filename %}
            {% include filename %}
        {% endwith %}
	</table>
</form>

	<a href="javascript:history.back();"><button class="span-12 button middle_button">&laquo; Back</button></a>

	{% if LR_DOWNLOAD and not "notallowed" in LR_DOWNLOAD %}
        {% if "restricted" in LR_DOWNLOAD %}
            <div class="popup_box">
                <div onmouseover="$('#altdownload').show();" onmouseout="$('#altdownload').hide();"><button class="span-4 button middle_gray_button">Download</button></div><div id="altdownload" class="popup" style="left:190px; width: 540px; height=100%"><img style="left:10px;" src="{% url metashare.views.frontpage %}site_media/images/adv_search_pfeil.png" />&nbsp; You don't have enough permission to download this resource. Please log in!</div>
            </div>
        {% else %}
            <a href="{{LR_DOWNLOAD}}"><button class="span-4 button middle_button">Download</button></a>
        {% endif %}
    {% endif %}

</div>
{% endblock %}
