{% extends 'base.html' %}
{% block content %}

{% block links %}
<link rel="stylesheet" href="{{ MEDIA_URL }}css/results.css" type="text/css" media="screen" />
{% endblock %} 

<script language="javascript">
$(document).ready(function(){
  $("#searchFilters dt").each(function() {
    var allDds = $(this).nextUntil("dt");
    if (allDds.length > 4) {{# for 5 or less items we don't want to collapse, however, including the "more" link we would like to have at most 5 <dd>s #}
      var hideableDds = allDds.has("a.addableFacet");{# never hide selected facet items #}
      if (hideableDds.length > 1) {{# don't replace a single item with a "more" link #}
        hiddenDds = hideableDds.slice(
          Math.max(0, 4 - (allDds.length - hideableDds.length))).hide();
        var moreTxt = 'more', lessTxt = 'less';
        hiddenDds.last().after($("<dd><a href='#'>" + moreTxt + "</a></dd>")
            .children().first().click({hiddenDds: hiddenDds}, function(e) {
                e.preventDefault();
                $(this).text($(this).text() == moreTxt ? lessTxt : moreTxt);
                e.data.hiddenDds.toggle();
        	  }).parent());
      }
    }
  });
});
</script>

<script>
	$(document).ready(function(){		
		$("div.filter").hide();				
		$("div.accordion").each(function(){			
			$(this).next("div.filter").find("a.removableFacet").parents("div.filter").show();		
			addStatus($(this));
		});
		
	    $("div.accordion").click(function() {
		    if($(this).next("div.filter").attr("style") == "display: none;" ){			
				$(this).addClass('expanded');
				$(this).removeClass('collapsed');}
			else{
				
				$(this).addClass('collapsed');
				$(this).removeClass('expanded');				
			}
			$(this).next("div.filter").slideToggle();					
		});			          		
	});			

	function addStatus(filter){			
		if(filter.next("div.filter").attr("style") == "display: none;" ){				
			filter.addClass('collapsed');
			filter.removeClass('expanded');
		}
		else{
			filter.addClass('expanded');
			filter.removeClass('collapsed');
								
		}		
	}
	
	
	
</script>


<div class="search">
  <form class="form_helper" id="searchbox" action="." method="get">      
  <table><tr><td>
  <h2>Search Catalogue:	</h2>
       </td><td class="search">
       {{ form.q }}               
       </td><td> 
        <input class="span-4 button middle_button" style=" width:100px;" type="submit" value="Search" />
		</td></tr>
	</table>	
  </form>
 </div>
 
<div class="filters_box">
        <div class="filter_box">
          <h4>Filter by:</h4>
          <div id="searchFilters">
          {% for filter in filters %}
            {% include "repository/filter.html" with filter=filter %}
          {% endfor %}
          </div>
        </div>
</div>

<div class="content_box">      
         
            <div class="results">    
              <h3> {{ page.paginator.count }} Language Resource{{page.paginator.count|pluralize}} {% if page.paginator.num_pages > 1 %}(Page {{ page.number }}  of {{ page.paginator.num_pages }}) {% endif %} </h3>
              
              {% if page.object_list %}
                {% if page.has_previous or page.has_next %}
                  <span style="float:right;">
                    {% if page.has_previous %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;&nbsp;Previous{% if page.has_previous %}</a>{% endif %} |
                    {% if page.has_next %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.next_page_number }}">{% endif %}Next&nbsp;&raquo;{% if page.has_next %}</a>{% endif %}
                  </span>
                {% endif %}
               
               <br/>
                  
                {% for result in page.object_list %}
                  <div class='result'>
                  {{ result.rendered_result|safe }}
                  </div>
                {% endfor %}
                
                
                {% if page.has_previous or page.has_next %}
                  <span style="float:right;">
                    {% if page.has_previous %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;&nbsp;Previous{% if page.has_previous %}</a>{% endif %} |
                    {% if page.has_next %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.next_page_number }}">{% endif %}Next&nbsp;&raquo;{% if page.has_next %}</a>{% endif %}
                  </span>
                {% endif %}
              {% else %}
                <p>No results were found for search query &ldquo;{{ query }}&rdquo;{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %} and filters {% for facet in values %}{{ facet }}{%endfor %}{% endif %}{% endfor %}.</p>
              {% endif %}
            </div>

</div>
{% endblock %}
