/*override container size*/
div.container{
	width: 90%;
	position: relative;
}
div.container > div#content > h2{
	margin-left: 2%;

}

div.content_box{
    width: 65%;
}

table.result_table{
    width: 100%;
}

/*end override container size*/
