
span.stile1.tabset
{
  background: url(../images/stile1_bg.gif) #dae0d2 repeat-x 50% bottom;
  width: 100%;
}

span.stile1.tabHeader
{
  font-size: 93%;
  /*background: url(../images/stile1_bg.gif) #dae0d2 repeat-x 50% bottom;*/
  float: left;
  width: auto;
  line-height: normal;

  padding-right: 10px; padding-left: 10px; padding-bottom: 0px; padding-top: 10px;
  margin: 0px; 
}

span.stile1.tabHeader span.li
{
  padding-right: 0px; padding-left: 9px;
  background: url(../images/stile1_left.gif) no-repeat left top;
  float: left; padding-bottom: 0px; margin: 0px; padding-top: 0px
}

span.stile1.tabHeader span.li span.a
{
  padding-right: 15px; display: block; padding-left: 6px; font-weight: bold;
  background: url(../images/stile1_right.gif) no-repeat right top;
  float: left; padding-bottom: 4px; color: #765; padding-top: 5px; text-decoration: none
}

span.stile1.tabHeader span.li.highlight span.a
{
	color: #FF6655;
}

span.stile1.tabHeader span.li.selected
{
	background-image: url(../images/stile1_left_on.gif);
}

span.stile1.tabHeader span.li.selected span.a
{
	background-image: url(../images/stile1_right_on.gif);
}

span.stile1.tabBody
{
	width: auto;
	height: auto;
	display: block;
	clear: both;
}

.stile1.tabBody > div
{
	width: auto;
	height: auto;
}

