.tooltip {
	/*border-bottom: 1px dotted #000000;*/
	color: #000000;
	outline: none;
	text-decoration: none;
	position: relative;
}

.tooltip span {
	margin-left: -999em;
	position: absolute;
}

.tooltip:hover span {
	border-radius: 5px 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	font-size: 0.9em;
	position: absolute;
	left: 0.3em;
	top: 2em;
	z-index: 99;
	margin-left: 0;
	width: 15em;
}

.tooltip:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	display: block;
	padding: 0.2em 0 0.6em 0;
}

.classic {
	padding: 0.8em 1em;
	background: #FFFFAA;
	border: 1px solid #FFAD33;
}

.custom {
	padding: 0.5em 0.8em 0.8em 2em;
}


