/* tabbed panel */
.etabs { margin: 0; padding: 0}

.tab {display: inline-block;
    zoom: 1; 
    *display:inline; 
    margin-right: 5px;
    background: url("../images/button_top_bg.png") repeat-x scroll 50% top #f5f3e5; 
    border: solid 1px #ccc; 
    border-bottom: none; 
    -moz-border-radius: 5px 5px 0 0; 
    -webkit-border-radius: 5px 5px 0 0;
	-khtml-border-radius: 5px 5px 0 0;
}

.tab a {font-family: Tahoma,Arial;
  	text-shadow: 0px -1px 1px #FF9900;
	font-weight: 600; 
	color: white !important;
	font-size: 12px; 
    line-height: 2em; 
    display: block; 
    padding: 0 10px; 
    outline: none; 
}

.tab a:hover { text-decoration: none; 
    background: url("../images/button_top_bg2.png")
}

.tab a.active { font-weight: bold; 
    color: #fff 
}

.tab-container .panel-container {background: #fff; 
    border: solid #666 1px; 
    padding: 10px; 
    -moz-border-radius: 0 5px 5px 5px; 
    -webkit-border-radius: 0 5px 5px 5px;
    -khtml-border-radius: 0 5px 5px 5px;
}

.tab.tab-nobr { background: #fff; 
    font-weight: 600; 
    font-family: Tahoma,Arial;
  	color: #000 !important;
	font-size: 12px; 
    line-height: 2em;
    padding: 0 10px;
    outline: none;
    text-decoration: none;
    border-bottom: none; 
}

.content_tab {
    padding: 10px;
    vertical-align: top;
    color: #000;
    padding-bottom: 40px;
	background-color: white; 
	border-left: solid 1px #ccc; 
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

/* usage metadata */
div.coverage { 
    display: inline;
    padding-left: 4px;
    padding-right: 6px;
    margin-left: 2px; 
    margin-right: 2px; 
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px solid #999; 
    border-top: none; 
    border-right: 1px solid #999; 
    border-left: none; 
    width: auto;
}

div.required { 
    background-color: lightgreen;
}
div.optional { 
    background-color: yellow;
}
div.recommended { 
    background-color: orange;
}
div.fieldvalues {background: #E6E6FA; 
    border: 1px solid #000; 
    float: right;
    width: 570px;
    padding: 0px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    vertical-align: top
}
    
div.warning {
    background: lightyellow; 
    border: 1px solid #FFA500; 
    padding: 5px;
    margin-top: -15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align:justify;
    height:auto;
}
    
label.title {background-color: #fda;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 0;
        color: #000;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0.3em;
        margin-left: 0px;
        margin-right: 5px;
        padding-left: 2px;
}

label.pointer {
    padding: 0px;
    cursor: pointer;
}

label.indent {
    margin-left: 19px;
    padding-left: 3px;
}

label.component{
    padding:3px;
    background-color: #fff;
    border-radius:10px;
    font-size:14px;
    color: #666;
    cursor: pointer;
    color: rgb(255, 153, 0);
}


/* checkable facets */
a.deleteFilter:before {
    content: " " url("sexybuttons/images/icons/silk/control_blank.png");
    vertical-align: top;
}

a.addFilter:before {
    content: " " url("sexybuttons/images/icons/silk/accept.png");
    vertical-align: top; 
}

#colsubtab {
    width: auto;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    white-space:normal;
    display:INLINE-block;
    vertical-align: top;
}


#subtab{
    padding: 10px;
    margin-bottom: 0px;
    display:block;
}

#section {
    border: solid 1px #ccc;
    margin-right: 20px;
    -moz-border-radius: 5px 5px 5px 5px; 
    -webkit-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
}

div.itemcounter {
    display: inline; 
    font-size: 8pt; 
    margin-right: 10px;
    padding-right: 15px;
    float: left;
    text-align: right;
    text-decoration: none;
    width: auto;
    position: absolute;
}

div.lasttime {
    display: inline; 
    font-size:8pt; 
    text-align:left; 
    float: right;
    margin-left: 10px;
    margin-bottom: -14px;
    padding-right: 20px;
}

td.resourceName{
    width: 95%;
    color: #777;
    font-size: 10pt;
    font-weight: bold;
}

