/* tabbed panel */
.etabs { margin: 0; padding: 0}

.tab {display: inline-block;
    zoom: 1; 
    *display:inline; 
    background: url("../images/button_top_bg.png") repeat-x scroll 50% top #f5f3e5; 
    border: solid 1px #ccc; 
    border-bottom: none; 
    -moz-border-radius: 5px 5px 0 0; 
    -webkit-border-radius: 5px 5px 0 0;
}

.tab a {font-family: Tahoma,Arial;
  	text-shadow: 0px -1px 1px #FF9900;
	font-weight: 600; 
	color: white !important;
	font-size: 12px; 
    line-height: 2em; 
    display: block; 
    padding: 0 10px; 
    outline: none; 
}

.tab a:hover { text-decoration: none; 
    background: url("../images/button_top_bg2.png")
}

.tab a.active { font-weight: bold; 
    color: #fff 
}

.tab-container .panel-container {background: #fff; 
    border: solid #666 1px; 
    padding: 10px; 
    -moz-border-radius: 0 5px 5px 5px; 
    -webkit-border-radius: 0 5px 5px 5px;
}

.tab.tab-nobr { background: #fff; 
    font-weight: 600; 
    font-family: Tahoma,Arial;
  	color: #000 !important;
	font-size: 12px; 
    line-height: 2em;
    padding: 0 10px;
    outline: none;
    text-decoration: none;
    border-bottom: none; 
}

.content_tab {vertical-align: top;
    color: #000;
    padding-bottom: 40px;
	background-color: white; 
	border-left: solid 1px #ccc; 
	border-bottom: solid 1px #ccc;
	border-right: solid 1px #ccc;
}

/* usage metadata */
div.coverage { 
    display: inline; 
    border: 1px solid #777; 
    margin-left: 1px; 
    margin-right: 2px; 
    -moz-border-radius: 15px; 
    border-radius: 15px;
}

div.required { background-color: lightgreen }
div.optional { background-color: yellow }
div.recommended { background-color: orange }
td.aligntop {vertical-align: top} 
div.fieldvalues {background: #E6E6FA; border: 1px solid #000; position:relative; vertical-align: top}
div.warning {background: lightyellow; border: 1px solid #000; position:relative; width: 400px}

/* checkable facets */
a.deleteFilter:before {
    content: " " url("sexybuttons/images/icons/silk/control_blank.png");
    vertical-align: top;
}

a.addFilter:before {
    content: " " url("sexybuttons/images/icons/silk/accept.png");
    vertical-align: top;   
}

