
body
{
	/* background-color: #DDDDDD; */
}

form
{
/*	border: 2px solid #FF6600;*/
	margin-left: 5px;
	margin-right: 5px;
}

.form
{
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-topleft: 1em;
    -moz-border-radius-bottomright: 1em;
    -moz-border-radius-topright: 1em;
    border: 1px solid darkgray;
    margin-bottom: 4px;
}

.formName
{
	margin-left: 8px;
	background-color: white;
}
	
.formContainer
{
	margin-left: 20px;
	width: 'auto';
	border: 1px solid gray;
	background-color: white;
}

.formset
{
	border: 2px solid darkgray;
}

.formsetInstance
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid darkgray;
	background-color: lightgray;
}

.formgroup
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.formgroupHeader
{
    font-size: 14px;
    font-weight: 600;
}
	
.addButton
{
	margin-left: 20px;
	/*border: 1px solid blue;*/
}

.remButton
{
	/*border: 1px solid blue;*/
}

.test
{
	border: 1px solid green;
	width: auto;
}

.edit_form label
{
    -moz-border-radius-bottomleft: 1em;
    -moz-border-radius-topleft: 1em;
    background-color: #CCCCCC;
    color: white;
    /*float: right;*/
    font-size: 14px;
    font-weight: 600;
    height: 18px;
    /*margin-top: 5px;*/
    min-width: 100px;
    padding: 0 10px 4px;
    text-align: right;

    border: 0 none;
    font: inherit;
    margin: 0 5px 0 20px;
    /*padding: 0;*/
	vertical-align: top;
    
    border-collapse: separate;
    border-spacing: 0;
    
    line-height: 2.5;
    
}

.edit_form input
{
	font-size: 18px;
}

.edit_form input.multi_choice
{
	border: 1px solid #88BBFF;
}

.edit_form label.required
{
    background: #666666;
}

.edit_form .multi_values input.multi_line
{
	margin: 0.1em 0;
}

.formsetButton
{
}

.formsetButton.open
{
	background-image: url(sexybuttons/images/icons/silk/section_expanded.png);
}

.formsetButton.close
{
	background-image: url(sexybuttons/images/icons/silk/section_collapsed.png);
}

div.multiChoice
{
    background-color: #999999;
    border: 1px solid black;
}

span.choice
{
	color: white;
}

.formError
{
	color: red;
	text-decoration: underline;
	cursor: pointer;
}

