/* SELECTOR (FILTER INTERFACE) */

.selector .selector-available input {
    width: 200px;
}

.selector .selector-available h2 {
    background: url("../admin/img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: left;
}

.selector .selector-chosen h2 {
    background: url("../admin/img/admin/default-bg.gif") repeat-x scroll left top #7CA0C7;
    color: white;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 2px 5px 3px;
    text-align: left;
}

.selector .selector-filter input {
    font-size:14px;
}

.selector .selector-filter label {
    background-color: white;
    float: left;
    min-width: 20px;
}

.selector .selector-chosen .selector-filter {
    padding: 8px 5px;
}

