{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

{{ media }}
{% endblock %}
{% block content %}
<div class="redirect_msg">You cannot edit the metadata for the {% if resource %}resource "{{resource}}"{% else %}entity "{{object}}"{% endif %}{% if resource %}, originally provided
	{% if resource.storage_object.source %}
	  by {{ resource.storage_object.source }},
	{% else %}
	  at {{ resource.storage_object.source_url }},
	{% endif %} 
{% endif %} 
 in the current META-SHARE node.</div>
 <div class="redirect_msg">
{% if resource %}You will now be redirected in the META-SHARE node where the resource metadata was originally created...
{% else %}
The metadata for this entity was originally created <a href={{url}}>here</a>.
{% endif %} 
</div>
{% if resource %}
<script>
setTimeout( 'window.location.replace("{{redirection_url}}")', 5*1000 ); 
</script>
{% endif %}
{% endblock content %}