{% extends "admin/base_site.html" %}

{% block content %}
{% spaceless %}
<div id="content-main">
  <p>
    You cannot edit the metadata for the
    {% if resource %}
      resource &ldquo;{{ resource }}&rdquo;
    {% else %}
      entity &ldquo;{{ original }}&rdquo;
    {% endif %}
    on the current META-SHARE node.
    {% if resource %}
      It was originally created
      {% if resource.storage_object.source %}
        by {{ resource.storage_object.source }}.
      {% else %}
        at {{ resource.storage_object.source_url }}.
      {% endif %}
    {% endif %}
  </p>
  {% if resource %}
    <p>You will now be redirected to the META-SHARE node where the resource
    metadata was originally created&nbsp;&hellip;</p>
    <script>
      setTimeout('window.location.replace("{{ redirection_url }}")', 6000); 
    </script>
    <p>
      <a href="{{ redirection_url }}">Click here</a> to immediately go to the
      other node.
    </p>
  {% else %}
    <p>The metadata for this entity was originally created
    <a href="{{ url }}">here</a>.</p>
  {% endif %}
</div>
{% endspaceless %}
{% endblock content %}
