{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

{{ media }}
{% endblock %}
{% block content %}<div id="content-main">
<div id="redirect_msg"><h3>You cannot edit {% if resource %}the metadata for the resource"{{resource}}"{% else %}the entity "{{object}}"{% endif %} in the current META-SHARE node.<br/>
You will now be redirected in the META-SHARE node where {% if resource %}the resource metadata{% else %}this entity{% endif %} was originally created...
</h3><div>

<script>
setTimeout( 'window.location.replace("{{redirection_url}}")', 5*1000 ); 
</script>

{% endblock content %}