{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}
{% load submit_row_resource_popup %}
{% load static from staticfiles %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block content %}<div id="content-main">

<script>
	$(document).ready(function(){			   
	    $(".accordion h1").click(function() {
			$(this).next().slideToggle();
			$(".accordion h1").not(this).next().hide("clip");
			return false;
		});
		$(".fields li").click(function() {
			$(".fields li").removeClass("active");
			$(this).addClass("active");
			$(".tab_content").hide();
			var selected_tab = $(this).find("a").attr("href");
			$(selected_tab).fadeIn();										
			return false;
  		});
  		
	});			
</script>		
<div id="explanation">Fields marked with <img src="{% static "metashare/css/sexybuttons/images/icons/silk/asterisk_orange.png" %}" style="height:8px;"/> are required.</div>

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

<div>
	<div id="tabs_container">	
		<div id="firstlevel" class="accordion">
			<h1><a href="#">Information</a></h1>
			<div class="fields">
				<ul>
					{% for fieldset in adminform %}
						{% if fieldset.name %}{# fieldset "None" in fact does not have a name, so it is not displayed #}													
							<li{% if "Required" in fieldset.name %} class= "active"{% endif %}><a href="#field-{{forloop.counter}}">{{fieldset.name|truncatewords:1|slice:":-4"}}</a></li>
						{% endif %}						
					{% endfor %}	
				</ul>		
			</div>
		</div>
	</div>
			
	<div id="tabs_content_container">
		{% for fieldset in adminform %}				
				<div id="field-{{forloop.counter}}" class="tab_content" {% if "Required" in fieldset.name %} style="display:inline;" {% endif %}>
					{% include "admin/repository/fieldset.html" %}
				</div>					
		{% endfor %}		
	</div>	

</div>

<script>		
	var link;	     
     $("ul.errorlist").each(function() { 
     	if(link != $(this).parents("div .tab_content").attr("id") ){
     		link = $(this).parents("div .tab_content").attr("id");	     				     	
     		$(".fields ul li a").each(function() { 
     			if($(this).attr("href") == "#"+link){
			     	$(this).attr('class', 'error');
		     	}
    		 });
		 }
	 });		
</script>

{% block after_field_sets %}{% endblock %}

{% block after_related_objects %}{% endblock %}

{% submit_row_resource_popup %}    
    
{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

{% endblock %}
