{% spaceless %}

<label class='component'>Annotation:</label>
<div class="dataline">
{% for key, value in annotations.items %}
	{% if "Annotation" in key %}
		<label class="title"><strong>{{ value.Annotation_type }}</strong></label>
		{% if value.Tagset %}
			<div>
				<label class="dataline indented">
					<strong>Tagset: </strong> {{ value.Tagset }}
				</label>
			</div>
		{% endif %}
		{% if value.Annotated_elements %}		
			<div>
				<label class="dataline indented">
					<strong>Annotated elements: </strong>{{ value.Annotated_elements_set|join:"," }}
				</label>
			</div>
		{% endif %}
		{% if value.Annotation_standoff %}
			<div>
				<label class="dataline indented">
					<strong>StandOff: </strong>{{ value.Annotation_standoff }}
				</label>
			</div>
		{% endif %}
		{% if value.Annotation_format %}
			<div>
				<label class="dataline indented">
					<strong>Format: </strong>{{ value.Annotation_format }}
				</label>
			</div>
		{% endif %}
		{% if value.Conformance_to_standard_practices %}
			<div>
				<label class="dataline indented">
					<strong>Standard practices conformance: </strong> {{ value.Conformance_to_standard_practices }}
				</label>
			</div>
		{% endif %}
		{% if value.Theoretic_modelconformance_to_standard_practices %}
			<div>
				<label class="dataline indented">
					<strong>Theoretic Model: </strong> {{ value.Theoretic_model }}
				</label>
			</div>
		{% endif %}
		
		{% if value.Annotation_manual %}
			<div>
				<label class="dataline">
					{% include "repository/resource_view/documentation.html" with documentation=value.Annotation_manual.Annotation_manual type="Annotation Manual" %}
				</label>
			</div>
		{% endif %}

		{% if value.Annotation_tool %}
			<div>
				<label class="dataline indented">
					<strong>Annotation Tool: </strong> {{ value.Annotation_tool.Target_resource_name_uri }}
				</label>
			</div>
		{% endif %}
		
		{% if value.Annotation_start_date %}
			<div>
				<label class="dataline indented">
					<strong>Start date:</strong> {{ value.Annotation_start_date|date:"SHORT_DATE_FORMAT" }}
				</label>
			</div>
		{% endif %}
		
		{% if value.Annotation_end_date %}
			<div>
				<label class="dataline indented">
					<strong>End date:</strong> {{ value.Annotation_end_date|date:"SHORT_DATE_FORMAT" }}
				</label>
			</div>
		{% endif %}
		
		{% if value.Size_per_annotation %}
			{% include "repository/resource_view/size.html" with size=value type="sub" %}
		{% endif %}
		
	{% endif %}

{% endfor %}
</div>

{% endspaceless %}
