{% spaceless %}
<label class='component'>Character encoding</label>
<div class="dataline">
{% for key, value in encodings.items %}
	<div>
		{% if "Character_encoding" in key %}
			<label class="dataline">
				{{ value.Character_encoding }}
				{% if "Size_per_character_encoding" in value %} 
					{% if value.Size_per_character_encoding %}
						({% include "repository/resource_view/size.html" with size=value.Size_per_character_encoding type="sub" %}) 
					{% endif %}
				{% endif %}					
			</label>
		{% endif %}
	</div>
{% endfor %}
</div>
{% endspaceless %}
