{% spaceless %}

<label class='component'>Classification</label>
<div class="dataline">
{% for key, value in classifications.items %}
	{% for key1, value1 in value.items %}
		{{ text_classification }}
		<div>
			<label class="dataline">
				{% if "Text_classification" in key1 %}
					{{ value1 }}
					{% if "Size_per_domain" in value %}
						({% include "repository/resource_view/size.html" with size=value.Size_per_domain type="sub" %})
					{% endif %}
				{% endif %}
				{% if "Conformance_to_classification_scheme" in key1 %}
					<label class="dataline indented">Conforms to {{ value1 }}</label>
				{% endif %}
			</label>
		</div>
	{% endfor %}
{% endfor %}
</div>

{% endspaceless %}
