{% load replace %}

{% spaceless %}

<label class='title'>Creation</label>
{% for key, value in creation.items %}
	{% if not "Original_source" in key and not "Creation_tool" in key %}
		 <div class="dataline indented">
			<label>
				<strong>{{ key|rep }}:</strong> {{ value }}
			</label>
		</div>
	{% else %}
		{% if "Original_source" in key %}
			<label class="subtitle">Original Source</label>
			{% include "repository/resource_view/target_resource.html" with target=value %}
		{% else %}
			<label class="subtitle">Creation Tool</label>
			{% include "repository/resource_view/target_resource.html" with target=value %}
		{% endif %}			
	{% endif %}
{% endfor %}

{% endspaceless %}
