{% load replace %}
{% spaceless %}

<label class='component'>Distribution</label>

<label class="title">Availability</label>

{% if distribution.Distribution.Availability %}
	 <div class="dataline indented">
		<label>
			{{ distribution.Distribution.Availability }}
		</label>
	</div>
{% endif %}

{% if distribution.Distribution.Availability_start_date %}
	 <div class="dataline indented">
		<label>
			<strong>Start date: </strong>{{ distribution.Distribution.Availability_start_date|date:"SHORT_DATE_FORMAT" }}
		</label>
	</div>
{% endif %}

{% if distribution.Distribution.Availability_end_date %}
	 <div class="dataline indented">
		<label>
			<strong>End date: </strong>{{ distribution.Distribution.Availability_end_date|date:"SHORT_DATE_FORMAT" }}
		</label>
	</div>
{% endif %}


{% if distribution.Distribution.Licence %}
		<label class="title">Licence</label>
{% endif %}



{% if distribution.Distribution.Ipr_holder %}
	<label class="title">IPR Holder</label>
	{% for key, value in distribution.Distribution.items %}
		{% if "Ipr_holder" in key %}
			{% if value.Organization %}
		    	{% include "repository/resource_view/person.html" with person_dict=value.Organization type="IPR Holder" %}
		    {% else %}
		    	{% include "repository/resource_view/person.html" with person_dict=value.Ipr_holder type="IPR Holder" %}
		    {% endif %}
		{% endif %}
	{% endfor %}
{% endif %}

{% endspaceless %}
