{% if type == "Documentation" %}
{% else %}
	{% if level == "simple" %}
		<label class='indented'><strong>{{type}}:</strong></label>
	{% else %}
		<label class={% if level == "sub" %}'subtitle'{% else %}'title'{% endif %}>{{type}}</label>
	{% endif %}
{% endif %}

{% if level == "sub" or level == "simple" or indent == "yes" %}<div class="indented">{% endif %}

	{% if documentation.Document_type %}
		<div class="dataline">
			<label class="indented">
				<strong>Document Type:</strong> {{ documentation.Document_type }}
			</label>
		</div>
	{% endif %}
		
	<div class="dataline">
		<label>
		{% if documentation.Author %}
			{{ documentation.Author }}, 			
		{% endif %}
		{% if documentation.Url %}
			<a href="{{documentation.Url}}" target='_blank'>
		{% endif %}
		<strong><i>{{ documentation.Title }}</i></strong>
		{% if documentation.Url %}
			</a>.
		{% endif %}
		{% if documentation.Journal %}
			In: {{ documentation.Journal }}
		{% endif %}
		{% if documentation.Volume %}
			{{ documentation.Volume }}
		{% endif %}
		{% if documentation.Pages %}
			, pp. {{ documentation.Pages }}
		{% endif %}
		
		</label>
	</div>
	
	{% if documentation.Editor %}
		<div class="dataline">
			<label>
				<strong>Editor:</strong> {{ documentation.Editor }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Year %}
		<div class="dataline">
			<label>
				<strong>Year:</strong> {{ documentation.Year }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Publisher %}
		 <div class="dataline">
			<label>
				<strong>Publisher:</strong> {{ documentation.Publisher }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Book_title %}
		 <div class="dataline">
			<label>
				<strong>Book Title:</strong> {{ documentation.Book_title }}
			</label>
		</div>
	{% endif %}	
	
	
	{% if documentation.Series %}
		 <div class="dataline">
			<label>
				<strong>Series:</strong> {{ documentation.Series }}
			</label>
		</div>
	{% endif %}	
	
	
	{% if documentation.Edition %}
		 <div class="dataline">
			<label>
				<strong>Edition:</strong> {{ documentation.Edition }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Conference %}
		 <div class="dataline">
			<label>
				<strong>Conference:</strong> {{ documentation.Conference }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Doi %}
		 <div class="dataline">
			<label>
				<strong>Digital Object Identifier - DOI:</strong> {{ documentation.Doi }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Issn %}
		 <div class="dataline">
			<label>
				<strong>ISSN:</strong> {{ documentation.Issn }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Isbn %}
		 <div class="dataline">
			<label>
				<strong>ISBN:</strong> {{ documentation.Isbn }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Keywords %}
		 <div class="dataline">
			<label>
				<strong>Keywords:</strong> {{ documentation.Keywords }}
			</label>
		</div>
	{% endif %}
	
	{% if documentation.Document_language_name %}
		 <div class="dataline">
			<label>
				<strong>Document Language:</strong> 
				{% if documentation.Document_language_id %}
					<label title="{{documentation.Document_language_id}}">
				{% endif %}
				{{ documentation.Document_language_name }}
				{% if documentation.Document_language_id %}
					</label>
				{% endif %}
			</label>
		</div>
	{% endif %}
{% if level == "sub" or level == "simple" or indent == "yes" %}</div>{% endif %}
