{% spaceless %}

<label class='title'>Linguality</label>
{% if linguality.Linguality_type %}
	 <div class="dataline indented">
		<label>
			<strong>Linguality type:</strong> {{ linguality.Linguality_type }}
		</label>
	</div>
{% endif %}

{% if linguality.Multilinguality_type %}
	 <div class="dataline indented">
		<label>
			<strong>Multi-linguality type:</strong> {{ linguality.Multilinguality_type }} {% if linguality.Multilinguality_type_details %} ({{ linguality.Multilinguality_type_details }}) {% endif %}
		</label>
	</div>
{% endif %}

{% endspaceless %}
