{% load get_icon %}

{% spaceless %}

{% with media_info=resource_component_dict.Resource_component_type %}
	{% if type == "text" %}
		{% for key, value in resource_component_dict.Resource_component_type.items %}
            {% if "Media" in key %}
				{% if "corpus" in key and text_counts|length > 1 %}
				<div class="textsubfields subfields">
					<ul class="my-list">
						{% for text in text_counts %}
							<li><a href="#textsub{{forloop.counter}}">{% get_icon "text" %}<a class="subscript">{{forloop.counter}}</a></a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="subcontainer" id="text-container">
					{% for text in text_counts %}
						<div id="textsub{{forloop.counter}}" class="textsubtab">
							{% include "repository/resource_view/detailed_media_info.html" with resource_component=text %}
						</div>
					{% endfor %}
				</div>
				
				{% else %}
					{% for key1, value1 in value.items %}
						{% if "text" in key1 and not "numerical" in key1 and not "ngram" in key1 %}
							{% include "repository/resource_view/detailed_media_info.html" with resource_component=value1 %}
						{% endif %}
					{% endfor %}
				{% endif %}
			{% endif %}
		{% endfor %}
	{% else %}
		{% if type == "audio" %}
			{% include "repository/resource_view/detailed_media_info.html" with resource_component=resource_component_dicts.audio %}
		{% else %}
			{% if type == "video" %}				
				{% for key, value in resource_component_dict.Resource_component_type.items %}
                    {{ key }}
					{% if "Media" in key %}
						{% if "corpus" in key and video_counts|length > 1 %}
							<div class="videosubfields subfields">
								<ul class="my-list">
									{% for video in video_counts %}
										<li><a href="#videosub{{forloop.counter}}">{% get_icon "video" %}<a class="subscript">{{forloop.counter}}</a></a></li>
									{% endfor %}
								</ul>
							</div>
							<div class="subcontainer" id="text-container">
								{% for video in video_counts %}
									<div id="videosub{{forloop.counter}}" class="videosubtab">
										{% include "repository/resource_view/detailed_media_info.html" with resource_component=video %}
									</div>
								{% endfor %}
							</div>
							
						{% else %}
							{% for key1, value1 in value.items %}
								{% if "video" in key1 %}
									{% include "repository/resource_view/detailed_media_info.html" with resource_component=value1 %}
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endif %}
				{% endfor %}
			{% else %}
				{% if type == "image" %}
					{% include "repository/resource_view/detailed_media_info.html" with resource_component=resource_component_dicts.image %}
				{% else %}
					{% if type == "textnumerical" %}
						{% include "repository/resource_view/detailed_media_info.html" with resource_component=media_info.Media_type_component_of_corpus.Corpus_numerical_text_component %}
					{% else %}
						{% if type == "textngram" %}
							{% include "repository/resource_view/detailed_media_info.html" with resource_component=media_info.Media_type_component_of_corpus.Corpus_n_gram_text_component %}
						{% else %}
							{% if type == "toolService" %}
								{% include "repository/resource_view/detailed_media_info.html" with resource_component=resource_component_dicts.toolService %}
							{% endif %}
						{% endif %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endwith %}

{% endspaceless %}
