{# MISSING: metadataLanguageName, metadataLanguageId #}

<label class='title component'>Metadata Info</label>
<div>

		{% if metadata_dict.Metadata.Metadata_creation_date %}			
			 <div class="dataline indented">
				<label>
					<b>Created: </b>{{ metadata_dict.Metadata.Metadata_creation_date|date:"SHORT_DATE_FORMAT" }}
				</label>
			</div>
		{% endif %}
		
		{% if metadata_dict.Metadata.Metadata_last_date_updated %}			
			 <div class="dataline indented">
				<label>
					<b>Last Updated: </b>{{ metadata_dict.Metadata.Metadata_last_date_updated|date:"SHORT_DATE_FORMAT" }}
				</label>
			</div>
		{% endif %}

		{% if metadata_dict.Metadata.Source %}
			<div class="dataline indented">
				<label>
				<b>Source: </b>{{ metadata_dict.Metadata.Source }}
				</label>
			</div>
		{% endif %}

		{% if metadata_dict.Metadata.Original_metadata_schema %}
			<div class="dataline indented">
				<label>
					{% if metadata_dict.Metadata.Original_metadata_link %}
						<a href="{{metadata_dict.Metadata.Original_metadata_link}}" target='_blank'>
					{% endif %}
							{{ metadata_dict.Metadata.Original_metadata_schema }}
					{% if metadata_dict.Metadata.Original_metadata_link %}
						</a>
					{% endif %}
				</label>
			</div>
		{% endif %}
		
		{% if metadata_dict.Metadata.Revision %}
			<div class="dataline indented">
				<label>
					<b>Revision: </b>{{  metadata_dict.Metadata.Revision }}
				</label>
			</div>
		{% endif %}
</div>
<div class="dataline">
{% for key, value in metadata_dict.items %}
		{% for key1, value1 in value.items %}
			{% if key1 == "Metadata_creator" %}			
			     {% include "repository/resource_view/person.html" with person_dict=value1 title="Metadata Creator" %}
			{% endif %}			
		{% endfor %}
{% endfor %}
</div>
