{% load email_protection %}
{% load get_icon %}
{% spaceless %}
<img class='line' src="/site_media/images/line.png" />


{% if type == "resourceCreator"  %}
<label class='title component'>Resource Creator:</label>
{% else %}
<label class='title component'>Metadata Creator:</label>
{% endif %}
	
		{# Name, Surname and sex #}
	<div>
		<label class="dataline">
			{% if person_dict.Communication.Url %}
				<a href="{{person_dict.Communication.Url}}">
			{% endif %}
					{{ person_dict.Given_name }}
					{{ person_dict.Surname }}
			{% if person_dict.Communication.Url %}
				</a>
			{% endif %}
			{% if person_dict.Sex == "Male" %}
				{% get_icon "male" %}
			{% else %}
				{% if person_dict.Sex == "Female" %}
					{% get_icon "female" %}
				{% endif %}
			{% endif %}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Position }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Affiliation.Department_name }}
		</label>
	</div>
	<div>
		<label class="dataline">
{#			{% encrypt_email person_dict.Communication.Email %}     #}
			{{ person_dict.Communication.Email }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Communication.Address }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Communication.Zip_code }}
			{{ person_dict.Communication.City }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Communication.Region }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Communication.Country }}
		</label>
	</div>
	
	{% if person_dict.Communication.Telephone_number %}
	<div>
		<label class="dataline">
			Tel.: {{ person_dict.Communication.Telephone_number }}
		</label>
	</div>
	{% endif %}
	{% if person_dict.Communication.Fax_number %}
	<div>
		<label class="dataline">
			Fax: {{ person_dict.Communication.Fax_number }}
		</label>
	</div>
	{% endif %}
	
	<img class='line' src="/site_media/images/line.png" />

	<div>
		<label class="dataline">
			{{ person_dict.Affiliation.Department_name }}
		</label>
	</div>
	
	
	<div>
		<label class="dataline">
			{% if person_dict.Affiliation.Url %}
				<a href="{{person_dict.Affiliation.Url}}">
			{% endif %}
					{{ person_dict.Affiliation.Organization_name }}
			{% if person_dict.Affiliation.Url %}
				</a>
			{% endif %}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Affiliation.OrganizationShortName }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{# {% encrypt_email person_dict.Affiliation.Email %} #}
			<label>{% encrypt_email person_dict.Affiliation.Email %}</label>
			{{ person_dict.Affiliation.Email }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Affiliation.Communication.Address }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Affiliation.Communication.Zip_code }}
			{{ person_dict.Affiliation.Communication.City }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Affiliation.Communication.Region }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Affiliation.Communication.Country }}
		</label>
	</div>
	<div>
		<label class="dataline">
			{{ person_dict.Affiliation.Communication.Email }}
		</label>
	</div>
	{% if person_dict.Affiliation.Communication.Telephone_number %}
	<div>
		<label class="dataline">
			Tel.: {{ person_dict.Affiliation.Communication.Telephone_number }}
		</label>
	</div>
	{% endif %}
	{% if person_dict.Affiliation.Communication.Fax_number %}
	<div>
		<label class="dataline">
			Fax: {{ person_dict.Affiliation.Communication.Fax_number }}
		</label>
	</div>
	{% endif %}	
		
{% endspaceless %}
