{% spaceless %}
<div class="dataline">
	<label class='title'>Funding Project</label>
	
	<div class="dataline indented">
		<label>
			{% if project.Url %}
				<a href="{{project.Url}}" target='_blank'>
			{% endif %}
			
			{{project.Project_name}}
			{% if project.Project_short_name %} - {{ project.Project_short_name }} {% endif %}
			{% if project.Project_id %} - {{ project.Project_id }} {% endif %}
			
			{% if project.Url %}
				</a>
			{% endif %}
		</label>
	</div>
	
	
	<div class="dataline indented">
		<label>
			<b>Funding Type:</b> {{ project.Funding_type }}
		</label>
	</div>
	
		
	<div class="dataline indented">
		<label>
			{% if project.Funder %}
			<b>Funder:</b>	{{ project.Funder }}
			{% endif %}
		</label>
	</div>
	
	
	
	<div class="dataline indented">
		<label>
			{% if project.Funding_country %}
			<b>Funding Country:</b>	{{ project.Funding_country }}
			{% endif %}
		</label>
	</div>
	
	
	<div class="dataline indented">
		<label>
			{% if project.Project_start_date %}
				<b>Project started:</b>	{{ project.Project_start_date|date:"SHORT_DATE_FORMAT" }}
			{% endif %}
		</label>
	</div>
	
	
	<div class="dataline indented">
		<label>
			{% if project.Project_end_date %}
				<b>Project ended:</b> {{ project.Project_end_date|date:"SHORT_DATE_FORMAT" }}
			{% endif %}
		</label>
	</div>
</div>

<hr/>
{% endspaceless %}
