{% spaceless %}
<div class="dataline">	
	
	<div class="dataline indented">
		<label>
			<strong><i>
				{% if project.Url %}
					<a href="{{project.Url}}" target='_blank'>
				{% endif %}
				
				{{project.Project_name}}
				{% if project.Project_short_name %} - {{ project.Project_short_name }} {% endif %}
				{% if project.Project_id %} - {{ project.Project_id }} {% endif %}
				
				{% if project.Url %}
					</a>
				{% endif %}</i>
			</strong>
		</label>
	</div>
		
	<div class="dataline indented">
		<label>
			<strong>Funding Type:</strong> {{ project.Funding_type }}
		</label>
	</div>
	
		
	<div class="dataline indented">
		<label>
			{% if project.Funder %}
			<strong>Funder:</strong>	{{ project.Funder }}
			{% endif %}
		</label>
	</div>
	
	
	
	<div class="dataline indented">
		<label>
			{% if project.Funding_country %}
			<strong>Funding Country:</strong>	{{ project.Funding_country }}
			{% endif %}
		</label>
	</div>
	
	
	<div class="dataline indented">
		<label>
			{% if project.Project_start_date %}
				<strong>Project started:</strong>	{{ project.Project_start_date|date:"SHORT_DATE_FORMAT" }}
			{% endif %}
		</label>
	</div>
	
	
	<div class="dataline indented">
		<label>
			{% if project.Project_end_date %}
				<strong>Project ended:</strong> {{ project.Project_end_date|date:"SHORT_DATE_FORMAT" }}
			{% endif %}
		</label>
	</div>
</div>

{% endspaceless %}
