{% load replace %}

{% spaceless %}

<label class='title'>Recording</label>
{% if "Recorder" in recording %}
	<label class='subtitle'>Recorders</label>
	{% for key, value in recording.items %}
		{% if "Recorder" in key %}
			{% include "repository/resource_view/person.html" with person_dict=value.Recorder type="Recorder" %}
		{% endif %}
	{% endfor %}
{% endif %}

{% for key, value in recording.items %}
	{% if not "Recorder" in key %}
		 <div class="dataline indented">
			<label>
				<strong>{{ key|rep }}:</strong> {{ value }}
			</label>
		</div>
	{% endif %}
{% endfor %}

{% endspaceless %}
