{% spaceless %}

<label class='component'>Resource Creation</label>

<div class="dataline">
{% for key, value in resource_creation_dict.items %}
		{% for key1, value1 in value.items %}
			{% if key1 == "Resource_creator" %}
				{% for key2, value2 in value1.items %}
					{% include "repository/resource_view/person.html" with person_dict=value2 title="Resource Creator" %}
					<hr/>
				{% endfor %}
			{% endif %}
		{% endfor %}
{% endfor %}
</div>

<div class="dataline">
	{% if resource_creation_dict.Resource_creation.Creation_start_date %}			
	     <div class="dataline">
			<label>
				<strong>Creation Started:</strong> {{resource_creation_dict.Resource_creation.Creation_start_date|date:"SHORT_DATE_FORMAT"}}
			</label>
		</div>
	{% endif %}
	
	{% if resource_creation_dict.Resource_creation.Creation_end_date %}			
	     <div class="dataline">
			<label>
				<strong>Creation Ended:</strong> {{resource_creation_dict.Resource_creation.Creation_end_date|date:"SHORT_DATE_FORMAT"}}
			</label>
		</div>
	{% endif %}
	
	{% if resource_creation_dict.Resource_creation.Funding_project %}			
	    {% include "repository/resource_view/project.html" with project=resource_creation_dict.Resource_creation.Funding_project %}
	{% endif %}
</div>
{% endspaceless %}
