{% load humanize %}
{% spaceless %}

{% if type == "component" %}
	<label class='indented'><strong>Size</strong></label>
{% else %}
	{% if type == "sub" %}
	{% else %}
		<label class='title'>Size </label>
	{% endif %}
{% endif %}

{% if type == "sub" %}
	({{ size.Size|intcomma }} {{ size.Size_unit }})
{% else %}
	{% if type == "component" %}
		{% for key, value in size.items %}
			{% for key1, value1 in value.items %}
				{% if key1 == "Size_unit" %}
					<label class="dataline indented">{{ value.Size|intcomma }} {{ value.Size_unit }}</label>
				{% endif %}
			{% endfor %}
		{% endfor %}
	{% else %}
		<div class="dataline">
		{% for key, value in size.items %}
			{% for key1, value1 in value.items %}
				{% if key1 == "Size_unit" %}
				<div>
					<label class="dataline indented">{{ value.Size|intcomma }} {{ value.Size_unit }}</label>
				</div>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</div>
	{% endif %}
{% endif %}
{% endspaceless %}
