{% load mimetype_label %}
{% spaceless %}

<label class='title'>Text Format</label>
<div class="dataline">
{% for key, value in text_types.items %}
	{% if "Text_format" in key %}		
		{% for key1, value1 in value.items %}
			{% if "Mime_type" in key1 %}
				<div>
					<label class="dataline indented">
						{{ value1|mimetype_label }}
						{% if "Size_per_text_format" in value %}
							{% include "repository/resource_view/size.html" with size=value.Size_per_text_format type="sub" %}
						{% endif %}
					</label>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
{% endfor %}
</div>

{% endspaceless %}
