{% spaceless %}

	{% if tool_service.Tool_service_type %}
		 <div class="dataline">
			<label>
				<strong>Type: </strong>{{ tool_service.Tool_service_type }}
			</label>
		</div>
	{% endif %}

	{% if tool_service.Tool_service_subtype %}			
		 <div class="dataline">
			<label>
				<strong>Sub-type: </strong>{{ tool_service.Tool_service_subtype }}
			</label>
		</div>
	{% endif %}
	
	{% if tool_service.Language_dependent %}			
		 <div class="dataline">
			<label>
				<strong>Language dependent: </strong>{{ tool_service.Language_dependent }}
			</label>
		</div>
	{% endif %}
	
	{% if tool_service.Input %}
		{% include "repository/resource_view/input_output.html" with type="Input" data=tool_service.Input %}
	{% endif %}
	{% if tool_service.Output %}
		{% include "repository/resource_view/input_output.html" with type="Output" data=tool_service.Output %}
	{% endif %}
	
	{% if tool_service.Tool_service_operation %}
		<label class='component'>Operation</label>
		{% if tool_service.Tool_service_operation.Operating_system %}
			 <div class="dataline">
				<label>
					<strong>Operating system: </strong>{{ tool_service.Tool_service_operation.Operating_system }}
				</label>
			</div>
		{% endif %}
		
		{% if tool_service.Tool_service_operation.Running_environment %}
			{% if tool_service.Tool_service_operation.Running_environment.Required_software %}
				{% include "repository/resource_view/target_resource.html" with target=tool_service.Tool_service_operation.Running_environment.Required_software title="Required Software" %}
			{% endif %}
			
			{% if tool_service.Tool_service_operation.Running_environment.Required_hardware %}
				 <div class="dataline">
					<label>
						<strong>Required hardware: </strong>{{ tool_service.Tool_service_operation.Running_environment.Required_hardware }}
					</label>
				</div>
			{% endif %}
			
			{% if tool_service.Tool_service_operation.Running_environment.Required_lrs %}
				{% if tool_service.Tool_service_operation.Running_environment %}
					{% if tool_service.Tool_service_operation.Running_environment.Required_software %}
						{% include "repository/resource_view/target_resource.html" with target=tool_service.Tool_service_operation.Running_environment.Required_lrs title="Required LRs" %}
					{% endif %}
				{% endif %}
			{% endif %}
			
			{% if tool_service.Tool_service_operation.Running_environment.Running_environment_details %}
				 <div class="dataline">
					<label>
						<strong>Running environment details: </strong>{{ tool_service.Tool_service_operation.Running_environment.Running_environment_details }}
					</label>
				</div>
			{% endif %}
		{% endif %}

		{% if tool_service.Tool_service_operation.Running_time %}
			 <div class="dataline">
				<label>
					<strong>Running time: </strong>{{ tool_service.Tool_service_operation.Running_time }}
				</label>
			</div>
		{% endif %}
	{% endif %}

	{% if tool_service.Tool_service_evaluation %}
		<label class='component'>Evaluation</label>
		{% if tool_service.Tool_service_evaluation.Evaluated %}
			 <div class="dataline">
				<label>
					<strong>Evaluated: </strong>{{ tool_service.Tool_service_evaluation.Evaluated }}
				</label>
			</div>
		{% endif %}

		{% if tool_service.Tool_service_evaluation.Evaluation_level %}
			 <div class="dataline">
				<label>
					<strong>Evaluation level: </strong>{{ tool_service.Tool_service_evaluation.Evaluation_level }}
				</label>
			</div>
		{% endif %}

		{% if tool_service.Tool_service_evaluation.Evaluation_type %}
			 <div class="dataline">
				<label>
					<strong>Evaluation type: </strong>{{ tool_service.Tool_service_evaluation.Evaluation_type }}
				</label>
			</div>
		{% endif %}

		{% if tool_service.Tool_service_evaluation.Evaluation_criteria %}
			 <div class="dataline">
				<label>
					<strong>Evaluation criteria: </strong>{{ tool_service.Tool_service_evaluation.Evaluation_criteria }}
				</label>
			</div>
		{% endif %}

		{% if tool_service.Tool_service_evaluation.Evaluation_measure %}
			 <div class="dataline">
				<label>
					<strong>Evaluation measure: </strong>{{ tool_service.Tool_service_evaluation.Evaluation_measure }}
				</label>
			</div>
		{% endif %}
				
		{% if tool_service.Tool_service_evaluation.Evaluation_report %}
			{% if tool_service.Tool_service_evaluation.Evaluation_report.Evaluation_report.Title %}
				{% include "repository/resource_view/documentation.html" with documentation=tool_service.Tool_service_evaluation.Evaluation_report.Evaluation_report type="Evaluation Report" %}
			{% else %}
				<div class="dataline">
					<label>
						<strong>Evaluation Report: </strong>{{ tool_service.Tool_service_evaluation.Evaluation_report.Evaluation_report }}
					</label>
				</div>
			{% endif %}					
		{% endif %}

		{% if tool_service.Tool_service_evaluation.Evaluation_tool %}
			{% if tool_service.Tool_service_evaluation.Evaluation_tool.Target_resource %}
				{% include "repository/resource_view/target_resource.html" with target=tool_service.Tool_service_evaluation.Evaluation_tool.Target_resource  title="Evaluation Tool" %}
			{% endif %}
		{% endif %}
		
		{% if tool_service.Tool_service_evaluation.Evaluation_details %}
			 <div class="dataline">
				<label>
					<strong>Evaluation details: </strong>{{ tool_service.Tool_service_evaluation.Evaluation_details }}
				</label>
			</div>
		{% endif %}
	
		{% if tool_service.Tool_service_evaluation.Evaluator %}
			<label class="title">Evaluator</label>
			{% for key, value in tool_service.Tool_service_evaluation.items %}
				{% if "Evaluator" in key %}
					{% if value.Organization %}
				    	{% include "repository/resource_view/person.html" with person_dict=value.Organization type="Evaluator" %}
				    {% else %}
				    	{% include "repository/resource_view/person.html" with person_dict=value.Evaluator type="Evaluator" %}
				    {% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}	
	{% endif %}
	
	{% if tool_service.Tool_service_creation %}
		<label class='component'>Creation</label>
		{% if tool_service.Tool_service_creation.Implementation_language %}
			 <div class="dataline">
				<label>
					<strong>Programming language: </strong>{{ tool_service.Tool_service_creation.Implementation_language }}
				</label>
			</div>
		{% endif %}

		{% if tool_service.Tool_service_creation.Formalism %}
			 <div class="dataline">
				<label>
					<strong>Formalism: </strong>{{ tool_service.Tool_service_creation.Formalism }}
				</label>
			</div>
		{% endif %}
		
		{% if tool_service.Tool_service_creation.Original_source %}
			{% if tool_service.Tool_service_creation.Original_source.Target_resource %}
				{% include "repository/resource_view/target_resource.html" with target=tool_service.Tool_service_creation.Original_source.Target_resource  title="Original Source" %}
			{% endif %}
		{% endif %}

		{% if tool_service.Tool_service_creation.Creation_details %}
			 <div class="dataline">
				<label>
					<strong>Details: </strong>{{ tool_service.Tool_service_creation.Creation_details }}
				</label>
			</div>
		{% endif %}
	{% endif %}

{% endspaceless %}
