{% spaceless %}

<label class='component'>Usage</label>
<div class="dataline">
	{% if "Access_tool" in usage_dict.Usage %}
		<label class='title'>Access tools</label>
		<ul>
			{% for key, value in usage_dict.Usage.items %}
				{% if "Access_tool" in key %}
					{% include "repository/resource_view/target_resource.html" with target=value title="Access Tool" level="list" %}
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
	
	{% if "Resource_associated_with" in usage_dict.Usage %}
		<label class='title'>Associated resources</label>
		<ul>
			{% for key, value in usage_dict.Usage.items %}
				{% if "Resource_associated_with" in key %}
					{% include "repository/resource_view/target_resource.html" with target=value title="Associated resources" level="list" %}
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}

	{% for key, value in usage_dict.items %}
		{% if "Foreseen_use" in value %}
			<label class='title'>Foreseen Use</label>
			{% for key1, value1 in value.items %}
				{% if "Foreseen_use" in key1 %}
						<label class="subtitle">{{ value1.Foreseen_use }}</label>
					{% if value1.Use_specific_to_NLP %}
					     <div class="dataline indented">
							<label>
								<strong>Use specific to NLP:</strong> {{ value1.Use_specific_to_NLP }}
							</label>
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}

	{% for key, value in usage_dict.items %}
		{% if "Actual_use" in value %}
			{% for key1, value1 in value.items %}
				{% if "Actual_use" in key1 %}
						<label class="title">Actual Use - {{ value1.Actual_use }}</label>							
					{% if value1.Use_specific_to_NLP %}
					     <div class="dataline indented">
							<label>
								<strong>Use NLP Specific:</strong> {{ value1.Use_specific_to_NLP }}
							</label>
						</div>
					{% endif %}
					{% if value1.Actual_use_details %}
					     <div class="dataline indented">
							<label>
								<strong>Details:</strong> {{ value1.Actual_use_details }}
							</label>
						</div>
					{% endif %}
				{% endif %}
				
				{% if "Usage_report" in value1 %}
					<label class='subtitle'>Usage Report</label>
					{% for key2, value2 in value1.items %}
						{% if "Usage_report" in value2 %}
							<div class="separation"><hr/></div>
							{% if "Title" in value2.Usage_report %}
								{% include "repository/resource_view/documentation.html" with documentation=value2.Usage_report type="Documentation" level="sub" %}
							{% else %}
								<div class="dataline indented">
									<label>
										{{ value2.Usage_report }}
									</label>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			
				{% if "Derived_resource" in value1 %}
					<label class='subtitle'>Derived Resources</label>
					<div class="dataline indented">
						<ul>
							{% for key2, value2 in value1.items %}
								{% if "Derived_resource" in key2 %}
									{% include "repository/resource_view/target_resource.html" with target=value2 title="Derived Resource" level="list" %}
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				
				{% if "Usage_project" in value1 %}
					<label class='subtitle'>Used in</label>
					{% for key2, value2 in value1.items %}
						{% if "Usage_project" in key2 %}
							<div class="separation"><hr/></div>
							{% include "repository/resource_view/project.html" with project=value2 level="sub" %}
						{% endif %}
					{% endfor %}
				{% endif %}
								
			{% endfor %}
		{% endif %}
	{% endfor %}

	
			
				
	
	
</div>	

{% endspaceless %}
