{% spaceless %}

<label class='component'>Usage</label>
<div class="dataline">
	{% if usage_dict.Usage.Access_tool %}			
	    {% include "repository/resource_view/target_resource.html" with target=usage_dict.Usage.Access_tool title="Access Tool" %}
	{% endif %}
	
	{% if usage_dict.Usage.Resource_associated_with %}			
	    {% include "repository/resource_view/target_resource.html" with target=usage_dict.Usage.Resource_associated_with title="Associated Resource" %}
	{% endif %}
	
		{% for key, value in usage_dict.items %}
			{% if "Foreseen_use" in value %}
				<label class='title'>Foreseen Use</label>	
				{% for key1, value1 in value.items %}
					{% if "Foreseen_use" in key1 %}
						<div class="dataline indented">
							<label>
								<strong><i>{{ value1.Foreseen_use }}</i></strong>
							</label>
						</div>					
								
						{% if value1.Use_nlpspecific %}
						     <div class="dataline indented">
								<label>
									<strong>Use NLP Specific:</strong> {{ value1.Use_nlpspecific }}
								</label>
							</div>
						{% endif %}
					<div class="separation"><hr/></div>
					{% endif %}
				{% endfor %}
				
			{% endif %}
		{% endfor %}
	
	
	
	{% for key, value in usage_dict.items %}
		{% if "Actual_use" in value %}
			<label class='title'>Actual Use</label>	
			{% for key1, value1 in value.items %}
				{% if "Actual_use" in key1 %}
					<div class="dataline indented">
						<label>
							<strong><i>{{ value1.Actual_use }}</i></strong>
						</label>
					</div>					
							
					{% if value1.Use_nlpspecific %}
					     <div class="dataline indented">
							<label>
								<strong>Use NLP Specific:</strong> {{ value1.Use_nlpspecific }}
							</label>
						</div>
					{% endif %}
					
					
					
								
					{% if value1.Actual_use_details %}
					     <div class="dataline indented">
							<label>
								<strong>Details:</strong> {{ value1.Actual_use_details }}
							</label>
						</div>
					{% endif %}
					
				<div class="separation"><hr/></div>
				{% endif %}
			{% endfor %}
			
		{% endif %}
	{% endfor %}	
	
	
	
	
	
	
		    
	
		{% if usage_dict.Usage.Actual_use.Usage_report %}
			{% if usage_dict.Usage.Actual_use.Usage_report.Usage_report.Title %}
				{% include "repository/resource_view/documentation.html" with documentation=usage_dict.Usage.Actual_use.Usage_report.Usage_report type="Usage Report" level="sub" %}
			{% else %}
				<div class="dataline indented">
					<label>
						<strong>Usage Report: </strong>{{ usage_dict.Usage.Actual_use.Usage_report.Usage_report }}
					</label>
				</div>
			{% endif %}
					
		{% endif %}
		
		{% if usage_dict.Usage.Actual_use.Derived_resource %}
		    {% include "repository/resource_view/target_resource.html" with target=usage_dict.Usage.Actual_use.Derived_resource title="Derived Resource" %}
		{% endif %}
		
		
		{% if usage_dict.Usage.Actual_use.Usage_project %}	
			<label class='subtitle'>Used in:</label>			
		    {% include "repository/resource_view/project.html" with project=usage_dict.Usage.Actual_use.Usage_project %}
		{% endif %}
		
</div>	


{% endspaceless %}
