{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/themes/smoothness/jquery-ui.css" />
{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}


{% block content %}<div id="content-main">
{% block object-tools %}
{% if change %}{% if not is_popup %}
 <ul class="object-tools">
   {% block object-tools-items %}
   <li><a href="upload-data/" class="uploadresourcelink">{% trans "Upload resource"%}</a></li>
   <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
   {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
   {% endblock %}
 </ul>
{% endif %}{% endif %}
{% endblock %}

<script>
			$(document).ready(function(){			   
			    $(".accordion h1").click(function() {
					$(this).next().slideToggle();
					$(".accordion h1").not(this).next().hide("clip");
					return false;
				});
				$(".fields li").click(function() {
					$(".fields li").removeClass("active");
					$(this).addClass("active");
					$(".tab_content").hide();
					var selected_tab = $(this).find("a").attr("href");
					$(selected_tab).fadeIn();										
					return false;
          		});
          		
			});			
		</script>		

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
	<div id="errmsg" style="display:none;"><!--style="display:none;"-->
			{{errors}}
	</div>
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

<div>
	<div id="tabs_container">
		<div id="firstlevel" class="accordion">
			<h1><a href="#">Administrative Information</a></h1>
			<div class="fields">
				<ul>
					{% for fieldset in adminform %}
						{% if "administration" in fieldset.name %}						
							<li{% if "Required" in fieldset.name %} class= "active"	{% endif %}><a href="#field-{{forloop.counter}}">{{fieldset.name|truncatewords:1|slice:":-4"}}</a></li>
						{% endif %}
					{% endfor %}	
				</ul>		
			</div>
	

		<script type="text/javascript">

		$(document).ready(function() {
			$('#firstlevel').append($('#contentInfoStuff'));
		});
		
		</script>
	
		</div>
		
	</div>

	<div id="tabs_content_container">
		{% for fieldset in adminform %}		
			
				<div id="field-{{forloop.counter}}" class="tab_content" {% if "Required administration" in fieldset.name %} style="display:inline;" {% endif %}>
					{% include "admin/repository/fieldset.html" %}
				</div>	
				
		{% endfor %}		
	</div>

</div>
	<script>	
	
	     	if( $('#errmsg').text().indexOf("general") !=-1 ){	
		     				$("h1:contains('General')").children("a").attr('class', 'error');
							$("h1:contains('Tool')").children("a").attr('class', 'error');
	     	}	 
	     	if( $('#errmsg').text().indexOf("TextInfo") !=-1 ){	 
		     				$("h1:contains('Text Info')").children("a").attr('class', 'error');
	     	}
	     	if( $('#errmsg').text().indexOf("Audio") !=-1 ){	 
		     				$("h1:contains('Audio')").children("a").attr('class', 'error');
	     	}
	     	if( $('#errmsg').text().indexOf("Image") !=-1 ){	 
		     				$("h1:contains('Image')").children("a").attr('class', 'error');
	     	}
	     	if( $('#errmsg').text().indexOf("Video") !=-1 ){	 
		     				$("h1:contains('Video')").children("a").attr('class', 'error');
	     	}
	     	if( $('#errmsg').text().indexOf("TextNumerical") !=-1 ){	 
		     				$("h1:contains('Text Numerical')").children("a").attr('class', 'error');
	     	}
	     	if( $('#errmsg').text().indexOf("TextNgram") !=-1 ){	 
		     				$("h1:contains('Text N-gram')").children("a").attr('class', 'error');
	     	}
	     	
	     	$("h1").not("h1:contains('General')").not("h1:contains('Tool')").not("div[id$=protodiv] h1").children("a:contains('Edit')").attr('class', '');
					
	</script>
	
	<script>	
		//for text fields and calendar
		$('div.form-row.errors div input').change(textfield);
		//for related-widget-wrapper
		$("div.field-box.errors input.related-widget-wrapper").change(oneToOne);	
				
		 function textfield() {
			 var input_value = $(this).attr('value');			 
				if( input_value ) {				
						$(this).parents('div').siblings(".errorlist").remove();				
						$(this).parents('fieldset .form-row').removeClass("errors");
						checkForErrors($(this));
				}
		 }		
 		 function oneToOne() {
			 var input_value = $(this).attr('value');			 
				if( input_value ) {					
						$(this).siblings(".errorlist").remove();				
						$(this).parents('div.field-box').removeClass("errors");
						checkForErrors($(this));
				}
		 }				
		
		$("fieldset .module div div ul li input").each(function() { 
			$(this).trigger('change');
		});	
		
		//for calendar when user inserts input in textfield	
		$("div.form-row div input").each(function() { 
			$(this).trigger('change');
		});
		
		//for many-to-many ajax widget
		$(document).on("click", "div.field-box.errors", function() {	 
		    if( $(this).children('.ui-widget.selectable-deck.selectable-deck-bottom').children().length > 0 ){
		    	$(this).children(".errorlist").remove();				
				$(this).removeClass("errors");
				checkForErrors($(this));
		    }
		});	
			
		//for calendar when user clicks on calendar options 
		$('div.form-row.errors div span.datetimeshortcuts a').live("click",function(){		
			$(this).parents('div').siblings(".errorlist").remove();				
			$(this).parents('div').removeClass("errors");
			checkForErrors($(this));
		});
		
		//related-widget-wrapper
		$("div.field-box.errors input.related-widget-wrapper").each(function() { 			
			$(this).trigger('change');
		});
		
		//for many-to-many widgets (errors disappear only when you click directly on selector-chosen field)
		//$(document).on("change", "div.form-row div.errors div.selector-chosen select.filtered", function() {		  
  		//	if( $(this).children().length > 0 ) {										
		//			$(this).parents('div').siblings(".errorlist").remove();				
		//			$(this).parents('div').removeClass("errors");
		//			checkForErrors($(this));
		//	}
		//});	
		
		//for drop-down menus		
		$(document).on("change", "div.form-row.errors select", function() {		  
  			$(this).parents('div').siblings(".errorlist").remove();				
			$(this).parents('div').removeClass("errors");
			checkForErrors($(this));
		});
		
		function checkForErrors(elem){
			if(elem.parents('.tab_content>fieldset.module.aligned').find('.errorlist').length == 0) {
				var field = elem.parents('.tab_content').attr('id');
				$("a[href='#"+field+"']").removeClass("error");
				if($('.errors').length == 0 && $('.error').length == 0) {
					$('p.errornote').remove();				
				}
			}			
		}
		
	</script>
	
	<script>		
		 var link;	     
	     $("ul.errorlist").each(function() { 
	     	if(link != $(this).parents("div .tab_content").attr("id") ){
	     		link = $(this).parents("div .tab_content").attr("id");	     				     	
	     		$(".fields ul li a").each(function() { 
	     			if($(this).attr("href") == "#"+link){
				     	$(this).attr('class', 'error');
			     	}
	    		 });
    		 }
		 });		
	</script>
	
{% block after_field_sets %}{% endblock %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
</form></div>

{% endblock %}




