{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />
<script type="text/javascript">
  function alertUploadSlow() {
	  alert("Starting upload; please be patient, importing can take some time.");
  }
</script>
{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../">{% trans "Home" %}</a> &rsaquo;
     Upload new resource description(s)
</div>
{% endif %}{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content %}<div id="content-main">
<form enctype="multipart/form-data" action="{{ form_url }}" method="post" id="upload_form">{% csrf_token %}{% block form_top %}{% endblock %}
<div>

<fieldset class="module aligned">
<h2>Upload</h2>
<div class="form-row">

<table>
{{form.as_table}}
</table>
</div>
</fieldset>

<div class="submit-row" >
<input type="submit" value="Upload" class="default" name="_save" onclick="alertUploadSlow();"/>
</div>

</div>
</form></div>


{% endblock %}
