{% extends "base.html" %}

{% block content %}

<script language="javascript"> 
	function toggle(ctrl) {

		
		var elem = document.getElementById("filter_elements_"+ ctrl);
		var text = document.getElementById("displayText_"+ctrl);
		if(elem.style.display == "block") {
			elem.style.display = "none";
			text.innerHTML = "++";
		}
		else {
			elem.style.display = "block";
			text.innerHTML = "--";
		}		
	} 
</script>


{%ifequal mode 'edit'%}
  <h2>Search Catalogue</h2>
  <div class="content_box">
{% endifequal %}
{%ifequal mode 'simple'%}
  <h2>Browse Catalogue</h2>
  <div class="content_box">
{% endifequal %}
{%ifequal mode 'view'%}
  <h2>Browse Catalogue</h2>
  <div class="content_box">
{% endifequal %}



{%ifequal mode 'simple'%}

<div class="filter_box">
<h4>
<u>Filter by</u> 
	{% for filter_type in dictionary_list %}
	<div> 
		{{ filter_type.2 }}:<br>
		{% ifequal filter_type.3 "None" %} <strong> {% endifequal %} 
		<a href= "{% url metashare.repo2.views.simple_search %}{{ filter_type.1 }}/None"> Any </a><br>
		{% ifequal filter_type.3 "None" %} </strong> {% endifequal %}
		{% for filter in filter_type.0|slice:":4" %}
			&middot;
			{% if keywords %}
				<a href= " {% url  metashare.repo2.views.simple_search %}{{ filter_type.1 }}/{{filter.0 }}" >
			{% else %}
				<a href= " {% url  metashare.repo2.views.simple_search %}{{ filter_type.1 }}/{{ filter.0 }}" >
			{% endif %}
			{% ifequal filter_type.3 filter.0 %} <strong> {% endifequal %} {{ filter.2 }} ({{ filter.1 }}) {% ifequal filter_type.3 filter.0 %} </strong> {% endifequal %}  </a>
   			<br>
		{% endfor %}
		{% if filter_type.0|length > 4 %}<a id="displayText_{{ filter_type.4 }}" href="javascript:toggle({{ filter_type.4 }});">++</a><br>{% endif %}
		<div id="filter_elements_1" style="display:none">		
			{% for filter in filter_type.0|slice:"4:" %}
				&middot;
				{% if keywords %}
					<a href= " {% url  metashare.repo2.views.simple_search %}{{ filter_type.1 }}/{{ filter.0 }}" >
				{% else %}
					<a href= " {% url  metashare.repo2.views.simple_search %}{{ filter_type.1 }}/{{ filter.0 }}" >
				{% endif %}
				{% ifequal filter_type.3 filter.0 %} <strong> {% endifequal %} {{ filter.2 }} ({{ filter.1 }}) {% ifequal filter_type.3 filter.0 %} </strong> {% endifequal %}  </a>
    			<br>
			{% endfor %}
		</div>			
	</div>
	{% endfor %}

	{% if user.is_staff %}
	<div> 
		Unpublished only:<br> 
    	<a id="displayText_4" href= "{% url metashare.repo2.views.simple_search unpublished="True" %}">All</a><br>
    	<a id="displayText_5" href= "{% url metashare.repo2.views.simple_search unpublished="None" %}">None</a>
	</div>
    {% endif %}
</h4>
</div>

<div style="position: relative; float: left">

<form class="form_helper" id="searchbox" action="{% url metashare.views.frontpage %}repo2/browse/" method="post">
<table>
<tr><th><label for="id_keywords">Keywords:</label></th><td><input name="keywords" value="{{keywords}}" class="span-10" maxlength="200" type="text" id="id_keywords" /><input class="span-4 button middle_button" style="margin-left:5px;" type="submit" name="Search" value="Search" /></td>
</tr>
</table>
</form>
{% endifequal %}
{%ifequal mode 'edit'%}
<p><i>Search for language resources which match the constraints in the following fields (OR inside fields, AND between fields)</i></p>
<form class="form_helper" id="searchbox" action="{% url metashare.repo2.views.advanced_search %}" method="post">
<table>
{% for field in form %}

<tr>
    <th>{{ field.label_tag }}</th>
    <td>{{ field }}<br/><span class="help_text">{{ field.help_text }}</span></td>
 </tr>
{% endfor %}
</table>
<input class="button middle_button" style="wrap:no-wrap" type="submit" name="Search" value="Search"><br/>
</form>
{% endifequal %}

{% include "repo2/results.html" %}
</div>
{% endblock %}
