{% extends "base.html" %}

{% block header %}
  <h1 class="grey_dark">Browse metadata catalogue</h1>
  <h3 class="grey_light">{{ title }}</h3>
{% endblock %}

{% block content %}    
<h2>{{ title }}</h2>
<div class="content_box">

<script type="text/javascript">
 $(document).ready(function() {
 $.ajaxSetup({
    cache: false
});
 $("#licence").load("{% url metashare.repo2.views.getlicence object_id %}");
});
</script>
<h3>Licence Agreement</h3>

<div style="border:1px solid #EEE; margin:1px 1px 0;padding-right:2px;padding-left:2px" id="licence">
<font size=-1>loading... </font>
</div>

{% if not signature_req %}
  <form id="downloadbox" action="{% url metashare.repo2.views.download object_id %}" method="post">
    {% csrf_token %}
    <p><input name="license_agree" value="1" type="checkbox" /> I <strong>agree</strong> to these license terms and want to download the resource.</p>
    <input class="span-8 button middle_button" type="submit" value="Download Resource" />
  </form>
{% else %}
<p>Contact the author or owner of the resource to get information about the distribution.</p>
<a href="{% url metashare.repo2.views.view object_id %}"><button class="span-12 button middle_button">&laquo; Go to view </button></a>
{% endif %}
</div>


{% endblock %}
