{% extends "base.html" %}
{% block content %}    
<h2{% if not resource.storage_object.published %} style="font-style:italic;"{% endif %}>{{ resource.identificationInfo.resourceName.0 }}</h2>
<div class="content_box">
  <h3>No Download Available</h3>
  <p>We are afraid, the selected resource is not available for download.</p>
  <p>Please contact the resource maintainer for more information on how to obtain a copy of this resource.</p>
  <p><a href="{% url metashare.repo2.views.view resource.id %}"><button class="span-12 button middle_button">&laquo;&nbsp;Resource View</button></a></p>
</div>
{% endblock %}
