{% extends 'base.html' %}
{% block content %}

<script language="javascript">
    function toggle(ctrl) {
        var elem = document.getElementById("addElements_"+ctrl);
        var text = document.getElementById("displayText_"+ctrl);
        if(elem.style.display == "block") {
            elem.style.display = "none";
            text.innerHTML = "more";
        }
        else {
            elem.style.display = "block";
            text.innerHTML = "less";
        }
    }
</script>

<h2>Search Catalogue</h2>
<div class="content_box">
  <form class="form_helper" id="searchbox" action="." method="get">
      <table>
		  <tr valign="middle">
			  <td valign="middle"><label for="id_keywords">Keywords:</label></td>
			  <td valign="middle">{{ form.q }}  <a href="{% url metashare.views.frontpage %}repo2/search2/">Return to Browse page</a></td>
		  </tr>
		  <tr valign="baseline">
			  <td></td>
			  <td><input class="span-4 button middle_button" style="margin-left:5px;" type="submit" value="Search" /></td>
			  
		  </tr>
		  <tr>
			<td></td>
			
		  </tr>
      </table>
  </form>
  <table>
      <tr style="valign:top">
          <td width="20%">
             <div class="filter_box"; style="valign=top">
                <h4>Filter by:</h4>
                {% include "repo2/filter.html" with title="Language" filter=facets.fields.languageNameFilter filter_exact="languageNameFilter_exact" %}
                {% include "repo2/filter.html" with title="Resource Type" filter=facets.fields.resourceTypeFilter filter_exact="resourceTypeFilter_exact" %}
                {% include "repo2/filter.html" with title="Media Type" filter=facets.fields.mediaTypeFilter filter_exact="mediaTypeFilter_exact" %}
                {% include "repo2/filter.html" with title="Availability" filter=facets.fields.availabilityFilter filter_exact="availabilityFilter_exact" %}
                {% include "repo2/filter.html" with title="Licence" filter=facets.fields.licenceFilter filter_exact="licenceFilter_exact" %}
                {% include "repo2/filter.html" with title="Restriction of Use" filter=facets.fields.restrictionsOfUseFilter filter_exact="restrictionsOfUseFilter_exact" %}
                {% include "repo2/filter.html" with title="Validated" filter=facets.fields.validatedFilter filter_exact="validatedFilter_exact" %}
                {% include "repo2/filter.html" with title="Foreseen Use" filter=facets.fields.foreseenUseFilter filter_exact="foreseenUseFilter_exact" %}
                {% include "repo2/filter.html" with title="Use NLP Specific" filter=facets.fields.useNlpSpecificFilter filter_exact="useNlpSpecificFilter_exact" %}
                {% include "repo2/filter.html" with title="Linguality Type" filter=facets.fields.lingualityTypeFilter filter_exact="lingualityTypeFilter_exact" %}
                {% include "repo2/filter.html" with title="Multilinguality Type" filter=facets.fields.multilingualityTypeFilter filter_exact="multilingualityTypeFilter_exact" %}
                {% include "repo2/filter.html" with title="Modality Type" filter=facets.fields.modalityTypeFilter filter_exact="modalityTypeFilter_exact" %}
                {% include "repo2/filter.html" with title="Mime Type" filter=facets.fields.mimeTypeFilter filter_exact="mimeTypeFilter_exact" %}
                {% include "repo2/filter.html" with title="Best Practices" filter=facets.fields.bestPracticesFilter filter_exact="bestPracticesFilter_exact" %}
                {% include "repo2/filter.html" with title="Domain" filter=facets.fields.domainFilter filter_exact="domainFilter_exact" %}
                {% include "repo2/filter.html" with title="Geographic Coverage" filter=facets.fields.geographicCoverageFilter filter_exact="geographicCoverageFilter_exact" %}
                {% include "repo2/filter.html" with title="Time Coverage" filter=facets.fields.timeCoverageFilter filter_exact="timeCoverageFilter_exact" %}
                {% include "repo2/filter.html" with title="Subject" filter=facets.fields.subjectFilter filter_exact="subjectFilter_exact" %}
             </div>
          </td>
          <td width="70%">
            <div class="results">
							
              <h3> {{ page.paginator.count }} Language Resource{{page.paginator.count|pluralize}} {% if page.paginator.num_pages > 1 %}(Page {{ page.number }}  of {{ page.paginator.num_pages }}) {% endif %} </h3>
              
              {% if page.object_list %}
                {% if page.has_previous or page.has_next %}
                  <span style="float:right;">
                    {% if page.has_previous %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;&nbsp;Previous{% if page.has_previous %}</a>{% endif %} |
                    {% if page.has_next %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.next_page_number }}">{% endif %}Next&nbsp;&raquo;{% if page.has_next %}</a>{% endif %}
                  </span>
                {% endif %}
                <table class="result_table">
                <tr class="result_table_head">
                  <td style="width:200px;"><a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={% if values.0 == "resourcename_asc" %}resourcename_desc" class="sortDesc{% else %}resourcename_asc{% if values.0 == "resourcename_desc" %}" class="sortAsc{% endif %}{% endif %}{% endif %}{% endfor %}{% if 'sort' not in request.GET %}&amp;sort=resourcename_desc" class="sortDesc{% endif %}">Resource Name</a></td>
                  <td style="width:140px;"><a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={% if values.0 == "resourcetype_asc" %}resourcetype_desc" class="sortDesc{% else %}resourcetype_asc{% if values.0 == "resourcetype_desc" %}" class="sortAsc{% endif %}{% endif %}{% endif %}{% endfor %}{% if 'sort' not in request.GET %}&amp;sort=resourcetype_asc{% endif %}">Resource Type</a></td>
                  <td style="width:140px;"><a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={% if values.0 == "mediatype_asc" %}mediatype_desc" class="sortDesc{% else %}mediatype_asc{% if values.0 == "mediatype_desc" %}" class="sortAsc{% endif %}{% endif %}{% endif %}{% endfor %}{% if 'sort' not in request.GET %}&amp;sort=mediatype_asc{% endif %}">Media Type</a></td>
                  <td style="width:200px;"><a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={% if values.0 == "languagename_asc" %}languagename_desc" class="sortDesc{% else %}languagename_asc{% if values.0 == "languagename_desc" %}" class="sortAsc{% endif %}{% endif %}{% endif %}{% endfor %}{% if 'sort' not in request.GET %}&amp;sort=languagename_asc{% endif %}">Language</a></td>
                </tr>
                {% for result in page.object_list %}
                  {% cycle 'even' 'odd' as style silent %}
                  <tr class="{{ style }}">{{ result.rendered_result|safe }}</tr>
                {% endfor %}
                </table>
                {% if page.has_previous or page.has_next %}
                  <span style="float:right;">
                    {% if page.has_previous %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;&nbsp;Previous{% if page.has_previous %}</a>{% endif %} |
                    {% if page.has_next %}<a href="?q={{ query|urlencode }}{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %}{% for facet in values %}&amp;selected_facets={{ facet|urlencode }}{% endfor %}{% endif %}{% if key = 'sort' %}&amp;sort={{values.0}}{% endif %}{% endfor %}&amp;page={{ page.next_page_number }}">{% endif %}Next&nbsp;&raquo;{% if page.has_next %}</a>{% endif %}
                  </span>
                {% endif %}
              {% else %}
                <p>No results were found for search query &ldquo;{{ query }}&rdquo;{% for key, values in request.GET.iterlists %}{% if key = 'selected_facets' %} and filters {% for facet in values %}{{ facet }}{%endfor %}{% endif %}{% endfor %}.</p>
              {% endif %}
            </div>
          </td>
      </tr>
  </table>
</div>
{% endblock %}
