{% load i18n %}
<div class="submit-row" {% if is_popup %}style="overflow: auto;"{% endif %}>
{% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="default" name="_save" {{ onclick_attrib }}/>{% endif %}
{% if show_delete_link %}<p class="deletelink-box"><a href="delete/" class="deletelink">{% trans "Delete" %}</a></p>{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" {{ onclick_attrib }}/>{%endif%}
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" {{ onclick_attrib }} />{% endif %}
{% if show_save_and_continue %}<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" {{ onclick_attrib }}/>{% endif %}
<input type="button" value="{% trans 'Cancel' %}" title="{% trans 'Abort editing and discard any changes' %}" name="_cancel" />
</div>
{% comment %}
  This prevents accidental loss of information by informing the user about
  losing unsaved information and then asking the user to confirm that he
  really wants to leave the current editor page.
{% endcomment %}
<script language="JavaScript">
$(document).ready(function() {
  $(window).bind('beforeunload', function() {
    return "You have attempted to leave this page. If you have made any "
    + "changes to the fields without clicking the Save button, your changes "
    + "will be lost. Are you sure you want to leave this page?";
  });

  // Allow user to submit without asking for confirmation.
  $('.submit-row [type="submit"]').click(function(){
    $(window).unbind("beforeunload");
  });

  // Allow user to cancel without asking for confirmation.
  $('.submit-row [name="_cancel"]').click(function(){
    $(window).unbind("beforeunload");
  });
});

</script>
